@charset "utf-8";

/* Nav */
.list-nav { 
	background: rgb(252, 252, 252);  padding: 8px 12px; margin:0 0 0px; border-radius: 0; 
}
.list-nav .breadcrumb { 
	background: none; margin: 0; padding: 0; border-radius: 0; 
}
.list-nav .breadcrumb a { 
	color: rgb(148, 148, 148); 
}
.list-nav .breadcrumb span { 
	font-family:verdana; font-size:11px; letter-spacing:-1px; 
}
.list-nav .breadcrumb .active { 
	color: rgb(0, 0, 0); 
}

/* List */
table.list-tbl { 
	border-bottom: 0px solid #ddd; margin-bottom:10px; 
}
table.list-tbl th { 
	clear:both; height:43px; background: url('./img/head.gif') repeat-x !important;  font-weight:bold; font-size:12px; color:#333; border:0px; padding:0px !important; margin:0px !important; text-align:center; white-space:nowrap; vertical-align:middle !important;
}
table.list-tbl th a { 
	text-decoration:none; color:#333; 
}
table.list-tbl th a:hover, table.bo-list th a:focus, table.bo-list th a:active { 
	color:#000; 
}
table.list-tbl td { 
	vertical-align:middle !important;
}
table.list-tbl small { 
	color: orangered; font-size: 10px; font-weight:bold; font-family:verdana; letter-spacing:-1px; 
}
table.list-tbl .list-now { 
	background: #fafafa; 
}
table.list-tbl .list-subject { 
	text-align:left !important;
}
table.list-tbl .list-subject a { 
	display:block;
}
table.list-tbl .list-subject.now { 
	font-weight:bold !important; 
}
table.list-tbl .list-cate { 
	margin-top:4px; font-weight:normal; white-space:nowrap !important;
}
table.list-tbl .list-none { 
	padding:80px 0px; 
}
table.list-tbl i.img-fa { 
	width:40px; height:40px; padding:10px 0px 0px; font-size:20px; text-align:center; color:#aaa; 
}


/* Event */
.sev_himg { margin-bottom:15px; }
.sev_timg { margin-bottom:15px; }

/* Width */
table.list-tbl .wh-40 { width:40px; }
table.list-tbl .wh-50 { width:50px; }
table.list-tbl .wh-60 { width:60px; }
table.list-tbl .wh-80 { width:80px; }
table.list-tbl .wh-90 { width:90px; }
table.list-tbl .wh-100 { width:100px; }
table.list-tbl .wh-120 { width:120px; }
