@charset "utf-8";

/********************************************************
■ Basic : 기본
********************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url( ../../../common.css);

/* lkh 추가 */
/* 그룹사 소개 좌측 */
.section-select { position: fixed; top:0; height:100%; z-index:30; transform: translateX( -100% ); transition: all 0.5s; width:10%; }
.section-select.select-open{ transform: translateX( 0% );}
.section-select-list { height:100%; position:relative; }
.section-select-item>a>div { position:absolute; top:50%; left:50%; transform: translate(-50% , -50%);}
.section-select-item { position:relative; height:25%; background:#ededed; }
.section-select-item a { display:block; height:100%; width:100%;}
.section-select-item:nth-child(1)>a>div { height:140px; width:140px; background:url('/img/main/subsidiary.png') no-repeat 0px 0px; }
.section-select-item:nth-child(2)>a>div { height:140px; width:140px; background:url('/img/main/subsidiary.png') no-repeat 0px -140px;}
.section-select-item:nth-child(3)>a>div { height:140px; width:140px; background:url('/img/main/subsidiary.png') no-repeat 0px -280px; }
.section-select-item:nth-child(4)>a>div { height:140px; width:140px; background:url('/img/main/subsidiary.png') no-repeat 0px -420px; }
.section-select-item img:nth-child(1) { display:block;}
.section-select-item img:nth-child(2) { display:none;}
.section-select-item img { position: relative; left: 50%; top: 50%; transform: translate( -50% , -50%);}

@media all and (max-width:1310px) {
	.section-select-item img:nth-child(1) { display:none;}
	.section-select-item img:nth-child(2) { display:block; width:100%;}
}


/* 메인 section */
.subsidiary-page { position:fixed; left:100%; top:0; background:rgba(33,33,33,0.5); width:100%; height:100%; transition: all 0.5s; z-index:30;}
/* .subsidiary-page { position:absolute; left:100%; top:0; background:rgba(33,33,33,0.5); width:100%; height:100%; z-index:50; transition: all 0.5s;} */
.subsidiary-page.subsidiary-page-open { position:fixed; left:10%; top:0; background:rgba(33,33,33,1); width:100%; height:100%; z-index:50;}
.subsidiary-page .c-page {
	position:absolute;
	width: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) ;
	-webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) ;
	color: #af8f66;
	background: #F6F6F6;
	opacity: 0;
	z-index: 10;

}

#wdc { left: 0%; }
#thekenc { left: 90%; }
#design { left: 180%; }
#cnc { left: 270%; }
#p-wdc:target .c-page#wdc { transform: translateX(0); opacity: 1; overflow-y: auto;}
#p-wdc:target .subsidiary-page#subsidiary-page{ left:10%; }
#p-wdc:target .section-select{ transform: translateX( 0% );}

#p-thekenc:target #thekenc.c-page { transform: translateX(-100%); opacity: 1; overflow-y: auto;}
#p-thekenc:target .subsidiary-page#subsidiary-page{ left:10%; }
#p-thekenc:target .section-select{ transform: translateX( 0% );}

#p-design:target .c-page#design { transform: translateX(-200%); opacity: 1; overflow-y: auto;}
#p-design:target .subsidiary-page#subsidiary-page{ left:10%; }
#p-design:target .section-select{ transform: translateX( 0% );}

#p-cnc:target .c-page#cnc { transform: translateX(-300%); opacity: 1; overflow-y: auto;}
#p-cnc:target .subsidiary-page#subsidiary-page{ left:10%; }
#p-cnc:target .section-select{ transform: translateX( 0% );}

.section-select-item:nth-child(1) a{background:none;opacity: 1; }
#p-wdc:target .section-select-item:nth-child(1) a{background:#F6F6F6;}
#p-thekenc:target .section-select-item:nth-child(2) a{background:#F6F6F6;}
#p-design:target .section-select-item:nth-child(3) a{background:#F6F6F6;}
#p-cnc:target .section-select-item:nth-child(4) a{background:#F6F6F6;}

#p-cnc:target body{ overflow-y: hidden;}

/* subsidiary 내용 */
/* 더블유산업개발 */
.c-page>div{ height:100%;}
.c-page-left { height:100%; padding:0px; background:url('/img/main/wdc.jpg') no-repeat center; background-size:cover; }
.c-page-right { height:100%; display: inline-table;}
.c-page-right .section-title { text-align: center; position:relative; top:50%; left:50%; transform: translate( -50%, -50%)}
.c-page-right .section-title h1{ line-height: 55px;}
.c-page-right .section-title-subtext h3{ color:#333; }
.c-page-right .section-title-subtext h4{ color:#aaa; }
.c-page-right .section-text h4 { color:#aaa;}
.c-page-right .section-text h4:nth-child(1){padding: 180px 120px 20px; font-size: 24px; color:#767676; font-weight: 300;}
.c-page-right .section-text h4:nth-child(2){padding: 20px 120px 20px; font-size: 18px; font-weight:350;line-height: 38px;}
.c-page-right .at-container { height:100%;}

/* 더케이종합건설 */
#thekenc .section-title-head { display: inline-block; padding:50px 80px; border:8px solid #fff; margin-bottom:50px;}
#thekenc.c-page>div{ height:100%;}
#thekenc .c-page-left { height:100%; background:url('/img/main/wdc.jpg') no-repeat center; background-size:cover;}
#thekenc .c-page-right { height:100%;}
#thekenc .c-page-right .section-title { text-align: center; position:relative; top:50%; left:50%; transform: translate( -50%, -50%)}
#thekenc .c-page-right .section-title h1{ line-height: 55px;}
#thekenc .c-page-right .section-title-subtext h3{ color:#333; }
#thekenc .c-page-right .section-title-subtext h4{ color:#aaa; }
#thekenc .c-page-right .section-text h4 { color:#aaa;}
#thekenc .c-page-right .section-text h4:nth-child(1){padding: 3px 120px 20px; font-size: 24px; color:#767676; font-weight: 300;}
#thekenc .c-page-right .section-text h4:nth-child(2){padding: 20px 120px 20px; font-size: 18px; font-weight:350;line-height: 38px;}
#thekenc .c-page-right .at-container { height:100%; }
#thekenc .section-img { height:240px; width:100%; background:url('/img/main/thek-bg01.jpg') no-repeat center; background-size:cover;}
#thekenc .section-title-head { display: inline-block; padding:50px 80px; border:8px solid #fff; margin-bottom:50px;}
#thekenc.design>div{ height:100%;}
#thekenc .design-left { height:100%; background:url('/img/main/wdc.jpg') no-repeat center; background-size:cover;}
/*  */
#design .design-left:nth-child(1) { height:50%; min-height:400px; background:url('/img/main/design-bg01.jpg') no-repeat center; background-size:cover; }
#design .design-right2 { height:50%; min-height:50vh; background:url('/img/main/design-bg02.jpg') no-repeat center; background-size:cover; }
#design .design-right { height:50%; min-height:400px; }
#design .design-right .section-title { text-align: center; position:relative; top:50%; left:50%; transform: translate( -50%, -50%)}
#design .design-right .section-title h1{ line-height: 55px;}
#design .design-right .section-title-subtext h3{ color:#333; }
#design .design-right .section-title-subtext h4{ color:#aaa; padding-top: 20px; }
#design .design-right .section-text h4 { color:#aaa;}
#design .design-right .section-text h4:nth-child(1){padding: 3px 120px 20px; font-size: 24px; color:#767676; font-weight: 300;}
#design .design-right .section-text h4:nth-child(2){padding: 20px 120px 20px; font-size: 18px; font-weight:350;line-height: 38px;}
#design .design-right .at-container { height:100%; }
#design .section-title-head { text-align: left;}
#design .section-title-subtext h4 span{ color:#ff9800; }
#design .section-title-subtext h4 {padding-top: 20px; }
#design .section-title-head{ padding:0px; width:80%; margin:0 auto;}
#design .design-grep {position:relative;}
/*  */
#cnc .cnc-left { height:100%; min-height:300px; background:url('/img/main/cnc-bg01.jpg') no-repeat center; background-size:cover; }
#cnc .cnc-right { height:100%; min-height:300px; }
#cnc .cnc-right .section-title { text-align: center; position:relative; top:50%; left:50%; transform: translate( -50%, -50%)}
#cnc .cnc-right .section-title h1{ line-height: 55px;}
#cnc .cnc-right .section-title-subtext h3{ color:#333; }
#cnc .cnc-right .section-title-subtext h4{ color:#aaa; padding-top: 20px; font-size: 24px; padding-bottom:50px;}
#cnc .cnc-right .section-text h4 { color:#aaa;}
#cnc .cnc-right .section-text h4:nth-child(1){padding: 60px 120px 20px; font-size: 24px; color:#767676; font-weight: 350; line-height: 38px;}
#cnc .cnc-right .section-text h4:nth-child(2){padding: 20px 120px 20px; font-size: 18px; font-weight:350; line-height: 38px; text-align: left;}
#cnc .cnc-right .at-container { height:100%; }
#cnc .section-title-head { text-align: left;}
#cnc .section-title-subtext h4 span{ color:#ff9800; }
#cnc .section-title-subtext h4 {padding-top: 20px; }
#cnc .section-title-head{ padding:0px; width:80%; margin:0 auto;}
#cnc .section-img {width:80%; height:120px; background:url('/img/main/cnc-bg02.jpg') no-repeat center; background-size:cover; margin:0 auto;}
#cnc .section-title h5{ letter-spacing:16px; color: #767676;}

.c-page-right .section-text h4:nth-child(1){padding: 180px 120px 20px; font-size: 24px; color:#767676; font-weight: 300;}
.c-page-right .section-text h4:nth-child(2){padding: 20px 120px 20px; font-size: 18px; font-weight:350;line-height: 38px;}
.c-page-right .at-container { height:100%;}


@media all and (max-width:1200px) {
	.c-page-right { padding:0; }
	.wdc-left:before { content: ""; height:100%; width:100%; display: block; background:rgba(255,255,255,0.7); }
	.wdc-right { position:absolute; top:0px; display: inline-table;}
	.wdc-right .section-text h4:nth-child(1){padding: 180px 60px 20px; font-size: 24px; line-height: 38px; font-weight: 300; color:#393939;}
	.wdc-right .section-text h4:nth-child(2){padding: 20px 60px 20px; font-size: 18px; line-height: 38px; font-weight:350; color:#767676;}

	#thekenc .section-title-head { width:80%; display: inline-block; padding:40px 50px; border:8px solid #767676; margin-bottom:50px; }
	#thekenc .c-page-right { position:absolute; top:0px; display: inline-table;}
	#thekenc .c-page-right:before { content: ""; position:absolute; height:100%; width:100%; display: block; background:rgba(255,255,255,0.7); }
	#thekenc	.c-page-right .section-text h4:nth-child(1){padding: 20px 0px 20px; width:80%; margin:0 auto; font-size: 24px; line-height: 38px; font-weight: 300; color:#393939;}
	#thekenc .c-page-right .section-text h4:nth-child(2){padding: 20px 0px 20px; width:80%; margin:0 auto; font-size: 18px; line-height: 38px; font-weight:350; color:#767676;}
	#thekenc .section-img { width:90%; margin:0 auto;}

  #design .design-right:nth-child(2) .section-title-head { border: 10px solid #fff; padding: 20px; background:rgba(255,255,255,0.5);}
	#design .design-left:nth-child(1) { position:absolute; top:0; width:100%;}
	#design .design-left2 { z-index:2; }
	#design .design-right2 { position:absolute; top:0; width:100%; padding:0;}
	#design .design-right2:before { content: ""; height:100%; width:100%; display: block; background:rgba(57,57,57,0.4); }
	#design .design-grep .section-title h1 { color: #CDDC39; }
	#design .design-grep .section-title-subtext { color: #fff; }

	#cnc .cnc-left:before { content: ""; height:100%; width:100%; display: block; background:rgba(255,255,255,0.7); }
	#cnc .cnc-right { height:100%; min-height:300px; display: inline-table; position:absolute; top:0;}
	#cnc .cnc-right .section-text h4:nth-child(2) {  padding:0px; }
	#cnc .cnc-right .section-title { width:80%; }
	#cnc .cnc-right .section-title-head { border: 10px solid #ff9800; padding: 20px; background:rgba(255,255,255,0.5); margin-bottom:30px;}
	#cnc .cnc-right .section-title-subtext h4 { padding-bottom:0;}
	#cnc .section-img {display:none;}
}

/* PC 사이트 메뉴바 */
.sideMenuBar { z-index:20; position:fixed; right:10px; top:50%; transform: translateY(-50%); }
.sideMenuBar i { font-size:28px; font-weight:300; padding-bottom:5px;}
.sideMenuBar .gnb {}
.sideMenuBar .gnb-list {}
.sideMenuBar .gnb-list-item { display: table-row; height:68px; width:72px; text-align: center; font-weight:300; }
.sideMenuBar .gnb-list-item h5 { font-size:14px; font-weight:300;}
.sideMenuBar .gnb-list-item p { font-size:11px;}
.sideMenuBar .gnb-list-item:nth-child(1) { height:60px; color:#fff; }
.sideMenuBar .gnb-list-item:nth-child(1) h5{ width:100%; color:#fff; }
.sideMenuBar .gnb-list-item:nth-child(2) { background:#ededed; box-shadow: 1px 0px 5px rgba(33,33,33,0.2); cursor: pointer;}
.sideMenuBar .gnb-list-item:nth-child(3) { background:#ededed; box-shadow: 1px 0px 5px rgba(33,33,33,0.2); cursor: pointer;}
.sideMenuBar .gnb-list-item:nth-child(4) { }
.sideMenuBar .gnb-list-item:nth-child(2):hover { background:#767676; transition: all 0.5s; box-shadow: 1px 0px 5px rgba(33,33,33,0.2); }
.sideMenuBar .gnb-list-item:nth-child(3):hover { background:#767676; transition: all 0.5s; box-shadow: 1px 0px 5px rgba(33,33,33,0.2);}
.sideMenuBar .gnb-list-item-group { display:table-cell; vertical-align: middle; padding:0 10px;}
.sideMenuBar .gnb-list-item:nth-child(1) .gnb-list-item-group, .sideMenuBar .gnb-list-item:nth-child(4) .gnb-list-item-group { padding:0 0px;}
.sideMenuBar .gnb-list-item:nth-child(1) .gnb-list-item-group-bg { height:100%; border-top-left-radius:5px; border-top-right-radius:5px; padding:12px 0px; background:#333; box-shadow: 1px 0px 5px rgba(33,33,33,0.2);}
.sideMenuBar .gnb-list-item:nth-child(4) .gnb-list-item-group-bg { height:100%; background:#ededed; border-bottom-left-radius:5px; border-bottom-right-radius:5px; padding:12px 0px; box-shadow: 1px 0px 5px rgba(33,33,33,0.2); transition: all 0.5s;}
.sideMenuBar .gnb-list-item:nth-child(4) h5 { line-height:18px; color:#767676;}
.gnb-list-item .gnb-list-item-group { color:#767676; transition: all 0.5s;}
.gnb-list-item .gnb-list-item-group:hover{ color:#fff; text-shadow: 0 0 5px #333;}
.gnb-list-item:nth-child(4) .gnb-list-item-group:hover>div{ color:#ffcc00; background:#333; text-shadow: 0 0 5px #333;}

#consultation { display: none; position: fixed; width: 100%; height: 100%; z-index: 110; opacity:0; transition: all 0.5s;}
#consultation .consultation-center { position:fixed; width:100%; top:50%; left:50%; transform: translate(-50%, -50%); }
#consultation #contactinfo-bg {position: fixed; height:100%; width:100%; top:0; left:0; background:rgba(33,33,33,0.8); }
#consultation .contactinfo { height:100%; max-height:550px; overflow: auto; background: #fff; padding:20px 0 20px !important;}
#consultation .contactinfo-close{ font-family: "FontAwesome"; font-size:34px; color:#767676; position:absolute; top:0; left:0; padding: 15px; cursor: pointer; z-index:200; transition: color 0.5s;}
#consultation .contactinfo-close:hover{ color:#393939; }
#consultation:target { display:block; opacity: 1; transition: all 0.5s;}
#consultation .contactinfo .widget-index {padding:25px 0;}
#consultation .contactinfo .tail-contactinfo-wrap { color:#767676; padding: 35px 0; text-align: left;}
#consultation .contactinfo .tail-contactinfo-wrap h2:nth-child(1) { color:#393939; font-size:54px;}
#consultation .contactinfo .tail-contactinfo-wrap h3:nth-child(1n) { color:#767676; font-size:22px; font-weight:200; margin:5px 0; line-height:28px;}
#consultation .contactinfo .tail-contactinfo-wrap h3:last-child { color:#393939; font-size:44px; font-weight:200; margin-bottom:20px;}
#consultation .contactinfo .tail-contactinfo-wrap h4 { color:#767676; font-size:18px; font-weight:300; margin-top:40px; padding-bottom:10px;}
#consultation .contactinfo .tail-contactinfo-wrap h3:nth-child(1n) b{ color:#8cc63f; font-size:21px; font-weight:500; }
#consultation .contactinfo .row { margin:0px !important;}
@media all and (max-width:765px) {
	#consultation .contactinfo { height:100%; max-height:100%; overflow: auto; display: inline-table;}
	#consultation .consultation-center { position:fixed; width:100%; top:0%; left:0%; transform: translate(0%, 0%); }
}

/* 중복 */

#consultation_form {width:100%; padding:0px;}
#consultation_form .consultation_form-title { color:#767676;}
#consultation_form .consultation_form-title h2{ display:inline-block; font-size:28px; color:#393939; padding:20px 0 10px;}
#consultation_form .consultation_form-title h3{ display:inline-block; font-size:18px; }
#consultation_form .ileft { color:#767676; width:20%; text-align:left; padding:3px 3px 0 0; font-size:11pt;}
#consultation_form .icenter {float:left; width:100%; margin:0px 0px 6px;}
#consultation_form .iright {float:left; width:5%;}
#consultation_form .iclear {clear:both; padding:2px 0px; }

#consultation_form .icenter input{font-size:18px}
#consultation_form .icenter select{font-size:18px; background:#ededed; border:none;}
#consultation_form .icenter textarea{ font-size:18px;}
#consultation_form .input1 {width:100%; height:36px; border-top:none; border-left:none; border-right:none; border-bottom:1px solid #cccccc; padding:0 0 0 3px;}
#consultation_form .input2 {width:30%; height:36px; border:none; padding:0 0 0 3px;}
#consultation_form .input3 {width:33%; height:36px; border:1px solid #cccccc; padding:0 0 0 3px;}
#consultation_form .input4 {width:100%; height:120px; border:1px solid #cccccc; overflow-y:hidden;word-break:break-all; padding:0 0 0 3px;}

#ibtn_submit {width:100%; padding:8px 0px; border:0px; background:#cccccc; transition: all .5s;}
#ibtn_submit:hover {background:#ffcc00; color:#ededed; text-shadow: 0 0 2.5px #333;}

/********************************************************
main-slider-bottom.php
********************************************************/
.main-slider-bottom-list { margin:0;}
.main-slider-bottom-list-item { list-style:none; min-height:340px;}
.main-slider-bottom-list-item:nth-child(1) { background:url('/img/main/slider-bottom01.jpg') no-repeat; background-size:cover; color:#fff;}
.main-slider-bottom-list-item:nth-child(2) { background:url('/img/main/slider-bottom02.jpg') no-repeat; background-size:cover;}
.main-slider-bottom-list-item:nth-child(3) { background:url('/img/main/slider-bottom03.jpg') no-repeat; background-size:cover; }
.main-slider-bottom-list-item-list { position:relative; padding:20px 35px 5px; height:100%; overflow:hidden; transition:all .5s;}
.main-slider-bottom-list-item-list h2{ margin:15px 0; font-weight:500;}
.main-slider-bottom-list-item-list h4{ margin:5px 0; font-weight:350;}

@media all and (max-width:1310px) {
  .main-slider-bottom-list-item-list { padding:20px 15px 5px; }
  .main-slider-bottom-list-item-list h3{ padding:10px 0px 5px; }
}

@media all and (max-width:991px) {
  .main-slider-bottom-list-item-list { padding:10px 15px 5px; }
  .main-slider-bottom-list-item-list h3{ font-size:20px; padding: 3px 0px 2px; }
  .main-slider-bottom-list-item { list-style:none; }
}

@media all and (max-width:768px) {
  .pc-menu.bc-white { margin-top:-60px; opacity: 0; min-width:100%;}
}

/********************************************************
popup
********************************************************/
.popup-rium01.popup-rium01 { position:relative; text-align:left; font-family:"nanumgothic"; padding:120px 0  !important;}
.popup-rium01 h1{ padding : 25px 0 0px; font-size:42px;}
.popup-rium01 h1:nth-child(2){ padding : 25px 0 0px; font-size:42px;}
.popup-rium01 h3{ padding:25px 0 5px; display: inline-block;}
.popup-rium01 h4{ font-size:16px; display: inline-block;}
.popup-rium01 span{ font-weight:400; font-size:16px; }
.popup-rium01-grep svg{ max-height:210px;}
.popup01-subtext { padding : 10px 0; }
@media all and (max-width:768px) {
  .popup-rium01.popup-rium01 { position:relative; text-align:center; font-family:"nanumgothic"; padding:35px 0  !important; margin:0 auto;}
  .popup-rium01 h1{ padding : 12px 0 0px; font-size:42px;}
  .popup-rium01 h1:nth-child(2){ padding : 12px 0 0px; font-size:42px;}
  .popup-rium01-grep svg{ max-height:120px;}
  .pc-menu.bc-white { margin-top:-60px; opacity: 0; min-width:100%;}
}

/********************************************************
performance
********************************************************/
#section03 { padding:50px 0;}
.performance-title {text-align: center;}
.performance .section-item { padding:60px 0;}
#section03 .section-group>p { font-size: 16px; font-weight: 400; }
/********************************************************
section04
********************************************************/
#section04 .widget-box { margin:0; }
#section04 .section h1{ font-size:42px; font-weight:500; color:#fff; text-align:center; padding-top:150px; padding-bottom:25px; margin:0;}
#section04 .section h3{ font-size:18px; font-weight:300; color:#fff; text-align:center; line-height: 32px;}
#section04 .section h3:nth-child(4){ padding-bottom:150px;}

/********************************************************
section05
********************************************************/
#section05 { padding:50px 0;}
#section05 .section-wrap { }
#section05 .section-group>p {font-size: 16px; font-weight: 400;}
#section05 .section-wrap .section-wrap-item { position:relative; height:360px; padding:0px; overflow: hidden;}
#section05 .section-wrap .section-wrap-item:nth-child(2) .section-wrap-list{ background: url('/img/main/design02.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(3) .section-wrap-list{ background: url('/img/main/buildworks.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(4) .section-wrap-list{ background: url('/img/main/business.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(5) .section-wrap-list{ background: url('/img/main/developer.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(6) .section-wrap-list{ background: url('/img/main/sale.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item .section-wrap-list:hover{ transform: scale(110%);}
#section05 .section-wrap .section-wrap-item .section-wrap-list:hover:before{ background-color: rgba(33,33,33,0.2);}
#section05 .section-wrap .section-wrap-item .section-wrap-list { height:100%; position:relative;}
#section05 .section-wrap .section-wrap-item .section-wrap-list:before{ content: ''; color:#fff; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(33,33,33,0.7); transition: background-color .5s ease-in; }
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text { position:relative;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text h3{ text-align: center; color:#fff;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text h3:nth-child(2){ margin-top:10px;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text p{ white-space:pre-line; font-size:16px; font-weight:300; margin-top:20px; color:#fff;}
#section05 .section-wrap-list-text { padding:25px; height:240px;}
#section05 .section-group {margin: 60px 0;}
#section05 .section-item .section-group { text-align:center;}

/********************************************************
새소식
********************************************************/
#section06 .main-board.far.fa-plus { font-style:normal; color:#f0f0f0; }
#section06 .col-sm-6 .rium-post-garo .post-subject a{ font-size:14px;}
#section06 .col-sm-6 .rium-post-garo .post-wrap.is-2 { border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-garo .post-list li{border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-garo p{ margin:0px !important; line-height: 32px; width:calc( 100% - 65px); overflow: hidden;}
#section06 .col-sm-6 .rium-post-garo span { margin:0px !important; line-height: 32px; font-size:14px;}
#section06 .col-sm-6 .rium-post-garo .post-list .ellipsis:last-child a>p{ margin-bottom:2px !important; }

/********************************************************
상담문의
********************************************************/
.main-board.far.fa-plus { font-style:normal; color:#f0f0f0; }
#section06 .main-board.p-absolute.p-right { top:8px; }
#section06 .div-title-underbar.p-relative { border-bottom: solid 1px #f0f0f0;}
#section06 .col-sm-6 .rium-post-list.post-subject a{ font-size:14px;}
#section06 .col-sm-6 .rium-post-list.post-wrap.is-2 { border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-list .post-list li{border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-list p{ margin:0px !important; line-height: 32px; width:calc( 100% - 65px); overflow: hidden;}
#section06 .col-sm-6 .rium-post-list span { margin:0px !important; line-height: 32px; font-size:14px;}
#section06 .col-sm-6 .rium-post-list.post-list .ellipsis:last-child a>p{ margin-bottom:2px !important; }

.div-title-underbar { position: relative;}
.main-popup02 { padding: 60px 0px;}
.main-bottom-board { padding-bottom:60px;}


/********************************************************
main-popup-intro : 메인페이지 인트로
********************************************************/
.main-popup-intro { display:none; opacity: 0; position:fixed; width:100%; height:100vh; background:rgba(33,33,33,1); top:0; z-index:10; transition: all 1s;}
.main-popup-intro.main-popup-intro-bolok { display:block; opacity: 0; transition: all 1s;}
.main-popup-intro.main-popup-intro-bolok.main-popup-intro-op { opacity: 1; transition: all 1s;}
.main-popup-intro-grep {position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); }

.main-popup-intro-grep-logo-outline { width:320px; height:175px; position:absolute; top:0;}
.main-popup-intro-grep-logo-color { width:320px; height:175px; position:relative; top:0;}
.logo-outline{ fill:none; stroke:rgb(255,255,255);}
.logo-color01{fill:#534741;}
.logo-color02{fill:#8cc63f;}
.main-popup-intro-grep-logo {color:#fff;}
.main-popup-intro-grep-logo h2{padding-top:25px;}
.main-popup-intro-grep-logo p{padding-top:15px;}
#logo-color {
  fill: #fff;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 3.5px;
  filter:drop-shadow( 0px 0px 5px #000 );
  -webkit-filter:drop-shadow( 0px 0px 5px #000 );
  opacity: 0;
  -webkit-animation: fadeIn 2s ease;
  -moz-animation: fadeIn 2s ease;
  animation: fadeIn 2s ease;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#logo-outline {
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  -webkit-animation: fadeOut 1s ease;
  -moz-animation: fadeOut 1s ease;
  animation: fadeOut 1s ease;
  -webkit-animation-delay: 2.75s;
  -moz-animation-delay: 2.75s;
  animation-delay: 2.75s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}



/********************************************************
mainslider : 메인슬라이더
********************************************************/
/* mainslider */
.slick-slide, .slick-slide::before, .caption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-slider {
  position: relative;
  width: 100%;
  height: 38vw !important;
  min-height: 8vw;
  opacity: 0;
  visibility: hidden;
  transition: height 1.2s ease-out;
}
.main-slider.slick-initialized {
  overflow: hidden;
  opacity: 1;
  visibility: visible;
}

.slick-slide {
  position: relative;
  transition: height 1.2s ease-out;
  height: 38vw !important;
}
.slick-slide::before {
  background-color: #000;
  opacity: .3;
  z-index: 115;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 1;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 115;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  position: absolute;
  top: 44%;
  left: 5%;
  text-align: center;
  padding: 20px;
  border: 3px solid;
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .02em;
  opacity: 1;
  z-index: 115;
  transition: all .3s ease;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.slick-dots {
	position:absolute;
	bottom:20px;
	left:50%;
	transform: translateX( -50% );
  /* margin-top:-100px; */
  z-index: 5;
  text-align: center;
  padding-top: 15px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all 0.3s ease;
  opacity: .4;
  text-indent: 10000px;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 0.9;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 3px #fff;
  opacity: 0.9;
  background:#ffcc00;
  z-index: 115;
}

.container {
  background-color: none;
  color: #444;
  line-height: 1.6;
  padding: 40px 0;
}
.container .content {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.container p {
  margin-bottom: 40px;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

@media all and (max-width:991px) {
  .main-slider { min-height: 420px !important; }
  .slick-slide { min-height: 420px !important; }
}

@media all and (max-width:767px) {
  .slick-dots { margin-top:0px; width:100%;}
}
