@charset "utf-8";

/********************************************************
■ Basic : 기본
********************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* @import url( ../../../common.css); */

body { font-family: dotum; line-height: 22px; font-size: 14px; color: rgb(51, 51, 51); background-color:#fff; background-repeat: no-repeat; background-attachment:fixed; background-size:cover; }
body.is-pc .ko { font-size:12px; }
a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; }
a:hover, a:focus, a:active { color: crimson; text-decoration: none; }
fieldset legend { display:none; }
label { font-weight:normal; }
label.checkbox, label.radio { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
hr { margin-top: 20px; margin-bottom:20px; border:0; border-top:1px solid #eee; display:block; }
blockquote { font-size: 12px; margin:0px 0px 20px; }
.en, h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a { font-family: "Roboto", sans-serif; }
.ko, .ko small { font-family:dotum, sans-serif; }
.sns-share-icon img { width:20%; max-width:34px; border-radius:50%; }

/********************************************************
■ Layout : 레이아웃
********************************************************/
.wrapper { margin:0 auto; background:#fff;  }
.at-container { margin:0px auto; padding:0px; }
.is-pc .at-body { min-height:600px; }
.at-body .at-container { padding:0px 15px; overflow:hidden; }
.boxed.wrapper .at-body .at-container { padding:0px 20px; }
.at-content { position:relative; padding:20px 0px; }
.at-row { margin-left:-15px; margin-right:-15px; }
.at-col { position:relative; padding-left:15px; padding-right:15px; padding-top:20px; padding-bottom:20px; }
.nav-fixed .at-menu { width:100%; z-index:10; left:0px; }
@media all and (max-width:991px) {
	.responsive .at-body .at-container { padding:0px 10px !important; }
	.responsive .at-body .at-row { margin-left:0px; margin-right:0px; }
	.responsive .at-body .at-col { padding-left:0px; padding-right:0px; }
	.responsive .pull-right.at-main,
	.responsive .pull-left.at-side { float:none !important; }

}

/********************************************************
■ LNB : 최상단의 즐겨찾기, RSS, 로그인, 회원가입 영역
********************************************************/
.at-lnb { }
.en .at-lnb { font-size:12px; }
.at-lnb ul { list-style: none; margin: 0px; padding:10px 0px 5px; }
.at-lnb ul > li { float: left; padding: 0px 15px; }
.at-lnb ul > li::after { float: right; color:#ccc; content: "/"; margin-right:-17px;}
.at-lnb ul > li:last-child::after { content: ""; margin-right:0px; }
.at-lnb ul > li > a { color: #333; float:left; }
@media all and (max-width:991px) {
	.responsive .at-lnb .at-container { display:none; visibility:visible; }
}

/********************************************************
■ PC Header : PC 헤더
********************************************************/
.pc-header { padding:10px 0px 0px; text-align:center; }
.pc-header .at-container { padding:0px 20px 15px; background: url('./header.jpg') no-repeat right top; }
.pc-header .header-logo { display:inline-block; vertical-align:middle; padding:0px 15px; }
.pc-header .header-logo a { font-size:44px; line-height:44px; font-family:'Georgia', sans-serif; font-weight:bold; color:#000; }
.pc-header .header-logo a:hover { color:#000; }
.pc-header .header-logo img { display:block; max-width:100%; max-height:60px; }
.pc-header .header-desc { display:block; font-size:12px; letter-spacing:-1px; color:#888; margin-top:2px; }
.pc-header .header-search { display:inline-block; width:260px; vertical-align:middle; }
.pc-header .header-search form { padding:0px; margin-top:4px; border:4px solid #111; background: #111; }
.pc-header .header-search input { background: #fff; border:1px solid #111; }
.pc-header .header-search .btn { color:#fff !important; background: #111 !important; }
.pc-header .header-keyword { padding-top:4px; }
.en .pc-header .header-keyword { font-size:12px; }
@media all and (max-width:991px) {
	.responsive .pc-header { display:none; }
}

/********************************************************
■ Mobile Header : 모바일 헤더
********************************************************/
.m-header { display:none; background: rgb(50, 60, 70); }
.m-header a { color:#fff }
.m-header .at-container { padding:0px; }
.m-header .header-wrap { display:table; width:100%; table-layout:fixed; margin:0px; min-width:300px; border-collapse: collapse; }
.m-header .header-icon,
.m-header .header-logo { display:table-cell; vertical-align:middle; font-size:18px; height:44px; line-height:44px; text-align:center; }
.m-header .header-icon { width:44px; }
.m-header .header-icon a { display:block; }
@media all and (max-width:991px) {
	.responsive .m-header { display:block; }
}

/********************************************************
■ PC Menu : PC 메뉴바 배경설정
********************************************************/
.pc-menu { position:relative; background: #111; border:0px; z-index:3; box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); }
.pc-menu .at-container { position:relative; }
.pc-menu .sub-slide,
.pc-menu .sub-shows { display:none; visibility:visible; }
.pc-menu .sub-icon::after { font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }
.pc-menu .menu-a { font-size: 15px; font-family: "Roboto", sans-serif; }
.pc-menu .nav-home .menu-a { font-size: 20px;}
.pc-menu .nav-right { font-size:16px; }
@media all and (max-width:991px) {
	.responsive .pc-menu,
	.responsive .pc-menu-all { display:none; }
}

/********************************************************
■ PC Menu Top : PC 상단 좌측/배분 스타일 메뉴
********************************************************/

/* 배분 스타일 */
.pc-menu .nav-top.nav-both .menu-ul { display:table; width:100%; table-layout:fixed; margin:0px; }
.pc-menu .nav-top.nav-both .menu-li { display:table-cell; vertical-align:top; }
.pc-menu .nav-top.nav-both .menu-a { padding:0px; text-align:center; }
.pc-menu .nav-top.nav-both .sub-1div::before { left: 50%; margin-left:-8px; }
.pc-menu .nav-top.nav-both .sub-1div { position:relative; }

/* 좌측 스타일 */
.pc-menu .nav-top.nav-float .menu-ul { }
.pc-menu .nav-top.nav-float .menu-li { float:left; }
.pc-menu .nav-top.nav-float .sub-1div { position:absolute; }

/* 공통 스타일 */
.pc-menu .nav-top { position:absolute; left:0px; top:0px; z-index:10; width:100%; }
.pc-menu .nav-top .menu-a { display:block; color:#fff; background:#111; font-weight:bold; }
.pc-menu .nav-top .menu-li:hover .menu-a,
.pc-menu .nav-top .menu-li.on .menu-a { background:#333; }
.pc-menu .nav-top .menu-li.nav-home { width:60px !important; text-align:center; }
.pc-menu .nav-top .menu-li.nav-home .menu-a { padding:0px; }
.pc-menu .nav-top .new { color: rgb(140, 195, 70);}

.pc-menu .nav-top .sub-1div::before { top: -8px; border-width: 0 8px 8px; border-color: orangered transparent; display: block; width: 0px; content: ""; position: absolute; border-style: solid; }
.pc-menu .nav-top .sub-1div { background:#fff; border-top:3px solid orangered; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }
.pc-menu .nav-top .sub-1dul,
.pc-menu .nav-top .sub-1dli { position:relative;  }
.pc-menu .nav-top .sub-1da { display:block; color:#000; padding:5px 12px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }
.pc-menu .nav-top .sub-1dli.on .sub-1da,
.pc-menu .nav-top .sub-1dli:hover .sub-1da { color:#fff; font-weight:bold; background: orangered; border-color:orangered; }
.pc-menu .nav-top .sub-1new { color: rgb(140, 195, 70);}
.pc-menu .nav-top .sub-1line { position:relative; display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

.pc-menu .nav-top .sub-2div { left:100%; top:0; background: #fff; position:absolute; z-index:20; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }
.pc-menu .nav-top .sub-2dul { }
.pc-menu .nav-top .sub-2dli { }
.pc-menu .nav-top .sub-2da { display:block; color:#000; padding:5px 12px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }
.pc-menu .nav-top .sub-2dli.on .sub-2da,
.pc-menu .nav-top .sub-2dli:hover .sub-2da { color:#fff; font-weight:bold; background: orangered; border-color:orangered; }
.pc-menu .nav-top .sub-2new { color: rgb(140, 195, 70);}
.pc-menu .nav-top .sub-2line { display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

/********************************************************
■ PC Right Icon Menu : PC 우측 아이콘 메뉴
********************************************************/
.pc-menu .nav-right { background:#111; position:absolute; top:0px; right:0px; z-index:11; }
.pc-menu .nav-right > ul { float:right; list-style:none; padding:0px; margin:0px; }
.pc-menu .nav-right > ul > li { float:left; position:relative; width:42px; }
.pc-menu .nav-right > ul > li > a { color:#fff; display:block; text-align:center; }
.pc-menu .nav-right > ul > li > a:hover { background: #333; }
.pc-menu .nav-right .label { position: absolute; top: 15%; right: 7px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important; }
.pc-menu .nav-rw { width:170px; }

/********************************************************
■ PC All Menu : 전체 메뉴
********************************************************/
.pc-menu-all { position:relative; background:#fff; z-index:2; -webkit-box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); -moz-box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); }
.pc-menu-all .at-container { padding:20px 15px 0px; }
.pc-menu-all .table { margin-bottom:20px !important;}
.pc-menu-all .table td { width:1%; background:#fff; border:1px solid #ddd; padding:0px; line-height:20px; }
.pc-menu-all .menu-a { display:block; color:#000; padding:6px 12px; background:#f5f5f5; border-bottom:1px solid #ddd; font-weight:bold; text-align:center; }
.pc-menu-all .table td.on .menu-a { color:crimson; }
.pc-menu-all .sub-1div { padding:8px 0px; }
.pc-menu-all .sub-1dul { list-style:none; padding:0px; margin:0px; }
.pc-menu-all .sub-1dli .sub-1da { display:block; padding:2px 12px; color:#333; }
.pc-menu-all .sub-1dli.on .sub-1da,
.pc-menu-all .sub-1dli:hover .sub-1da { color:crimson; }
.pc-menu-all .new { color: rgb(140, 195, 70);}
.pc-menu-all .new-sub1 { color: rgb(140, 195, 70);}
.pc-menu-all .sub-1line { display:block; color:#000; padding:5px 12px; margin:4px 0px; font-weight:bold; background:#fafafa; }
.pc-menu-all .menu-all-btn { text-align:center; }

/********************************************************
■ Mobile Menu : 모바일 메뉴
********************************************************/
.m-menu { display:none; overflow:hidden; background:#fff; position:relative; z-index:20; box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); }
.m-menu .m-wrap { }
.m-menu .m-table { display:table; width:100%; table-layout:fixed; width:100%; margin:0px; min-width:300px; border-collapse: collapse; }
.m-menu .m-icon,
.m-menu .m-list { display:table-cell; vertical-align:middle; font-size:15px; height:44px; line-height:44px; border:1px solid #eee; border-top:0px; border-bottom:0px; }
.m-menu .m-icon { width:44px; text-align:center; font-size:18px; }
.m-menu .m-icon a { display:block; position:relative; }
.m-menu .m-icon .label { position: absolute; top: 15%; right: 5px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important;  }
.m-menu .m-nav { overflow: hidden; margin:0px 10px; }
.m-menu .m-nav ul { list-style: none; margin:0px; padding:0px; }
.m-menu .m-nav ul li { display:table-cell; padding: 0px 10px; white-space:nowrap; }
.m-menu .m-nav ul li.active a { color: orangered; font-weight:bold; }

.m-menu .m-sub { background:#fafafa; border-top:1px solid #ddd; font-size:15px; height:44px; line-height:44px; padding:0px 10px; }
.m-menu .m-nav-sub { width:100%; overflow: hidden; margin:0px; }
.m-menu .m-nav-sub ul { list-style: none; margin:0px; padding:0px; }
.m-menu .m-nav-sub ul li { display:table-cell; padding: 0px 10px; white-space:nowrap; }
.m-menu .m-nav-sub ul li.active a { color: orangered; font-weight:bold; }
@media all and (max-width:991px) {
	.responsive .m-menu { display:block; }
}

/********************************************************
■ Page Title : 페이지 타이틀 및 설명글
********************************************************/
.at-title { height:80px; position:relative; color:#000; background-color: #fafafa; border-bottom:1px solid #dfdfdf; }
.at-title .at-container { height:100%; position:relative; }
.at-title .page-title { font-size:24px; position:absolute; left:20px; bottom:15px; z-index:1; }
.at-title .page-desc { color:#888; position:absolute; right:20px; bottom:10px; z-index:1; }
@media all and (max-width:767px) {
	.responsive .at-title { height:50px; }
	.responsive .at-title .page-title { font-size:20px; left:15px; bottom:10px; }
}

/********************************************************
■ Footer : 하단 푸터
********************************************************/
.en .at-footer .at-links { font-size:12px; }
.at-footer .at-links { background:#fafafa; padding:8px 0px; border:1px solid #ddd; border-left:0px; border-right:0px;  }
.at-footer .at-links ul { list-style: none; margin: 0px; padding:0px; }
.at-footer .at-links ul > li { float: left; padding: 0px 15px; }
.at-footer .at-links ul > li::after { float: right; color:#ccc; content: "/"; margin-right:-17px;}
.at-footer .at-links ul > li:last-child::after { content: ""; }
.at-footer .at-links ul > li > a { color: #888; }
@media all and (max-width:991px) {
	.responsive .at-footer .at-links ul.pull-left { display:none; }
	.responsive .at-footer .at-links ul.pull-right { float:none !important; text-align:center; }
	.responsive .at-footer .at-links ul.pull-right > li { float:none; display:inline-block; }
}

/* YC5 */
.en .at-footer .at-infos { font-size:12px; }
.at-footer .at-infos .media { padding:15px 20px 20px; }
.at-footer .at-infos .pull-left { font-size:70px; color:#ddd; }
.at-footer .at-infos .copyright { float:left; margin-left:10px; }
.at-footer .at-infos .copyright span { color:#888; }
.at-footer .at-about { list-style: none; margin:0px; padding:0px; }
.at-footer .at-about > li { float: left; padding: 0px 15px; color:#888; }
.at-footer .at-about > li > a { color: #888; }
.at-footer .at-help { list-style: none; margin: 0px; padding:0px; margin-bottom:5px; }
.at-footer .at-help:after {display:block;visibility:hidden;clear:both;content:""}
.at-footer .at-help > li { float: left; padding: 0px 15px; }
.at-footer .at-help > li::after { float: right; font-size:12px; color:#ddd; content: "|"; margin-right:-17px;}
.at-footer .at-help > li:last-child::after { content: ""; }
.at-footer .at-help > li > a { float: left; }
@media all and (max-width:767px) {
	.responsive .at-footer .at-infos .media { padding:15px 0px 20px; text-align:center; }
	.responsive .at-footer .at-infos .copyright { float:none; margin:0px; }
}

/* G5 */
.at-footer .at-copyright { text-align:center; padding:15px 0px; color:#888; }
.at-footer .at-copyright strong { color:#333; }

/********************************************************
■ Go Top & Bottom : 상단/하단 이동버튼
********************************************************/
.at-go .go-btn { display:none; position: fixed; width:40px; bottom: 20px; right: 25px; z-index: 2; }
.at-go .go-btn span { display: block; color:#fff; background: rgba(0,0,0,0.5); margin:5px 0px; text-align: center; border-radius: 50%; width: 42px; height: 42px; line-height: 42px !important; font-size: 19px; }
.at-go .go-btn .go-bottom { display:none; }
@media (max-width: 768px) {
	.at-go .go-btn { bottom:0px; right:5px; }
}

/********************************************************
■ Bootstrap3 : 부트스트랩 기본속성
********************************************************/
/* Button */
.btn { font-family: "Roboto", sans-serif; }
.btn-lg { padding: 10px 16px; border-radius: 3px; line-height: 1.33; font-size: 18px; }
.btn-lg i {	top: 3px; font-size: 24px; position: relative; }
.btn-xs { padding: 4px 10px; }
.is-pc .ko .btn-xs,
.is-pc .ko .btn-sm { font-family:dotum, sans-serif; }

/* Panel : Accordions */
.panel { box-shadow: none; -webkit-box-shadow: none; border-radius: 0px; }
.panel-group .panel { border-radius: 0px; }
.panel .panel-heading { border-radius: 0px; }
.is-pc .ko .panel .panel-body { font-size:12px; }

/* List Group */
.list-group-item { word-break:break-all; border-radius:0 !important; }

/* Pagination */
.pagination { font-family: "Roboto", sans-serif; }
.pagination li a { border-radius:0 !important; color:#333 !important; }
.pagination li.active a { color:#fff !important; background:#444 !important; border-color:#444 !important; }

/* Progress */
.progress { position:relative; border-radius: 0px; height: 28px; overflow: hidden; margin-bottom: 15px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1); background-color: rgb(245, 245, 245); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.progress .sr-only { font-family: "Roboto", sans-serif; margin: 0px 15px; left: 0px; width: auto; height: 28px; line-height: 28px; font-size: 12px; clip: auto; }
.sr-score { font-family: "Roboto", sans-serif; height: 28px; line-height: 28px; font-size: 12px; padding-right:8px; }

/* Misc */
.form-control, .well, .btn, .alert, .input-group-addon, .label { border-radius:0 !important; }





/* lkh 추가 */
/* navigation */
.nav-logo { position:relative; display:inline-block; float:left; }
/* clearfix */
.section-group:after {
  content: '';
  display: block;
  clear: both;
}

.pc-menu-all { display:none;}
.pc-menu-all.pc-menu-all-use{ display:block;}
.pc-menu .nav-visible .pc-menu-all {
	position:relative;
	top:0px;
	overflow: hidden;
	height:0;
	transform: scaleY(0);
	/* transform: translateY(-100%); */
	transform-origin: top;
	-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
	opacity: 0;
}
/* .pc-menu .nav-visible:hover .pc-menu-all { transform: scaleY(1); opacity: 1; height:100%;} */
.pc-menu .nav-visible:hover .pc-menu-all { transform: scaleY(1); opacity: 1; height:100%;}
.pc-menu-all.pc-menu-all-use .menu-a { display: none;}
.pc-menu-all.pc-menu-all-use .at-container { padding:0px;}
.pc-menu-all.pc-menu-all-use .table td { border:none; background:none;}
.pc-menu-all.pc-menu-all-use .sub-1dli .sub-1da { padding:5px 0px 3px 0px; font-size:14px; text-align: center;}

.en, h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a,p { font-family: "Noto Sans KR", "Roboto", sans-serif, "FontAwesome"; margin:0;}
.ko, .ko small { font-family:"Noto Sans KR", dotum, sans-serif; }

.section-select { position: fixed; top:0; height:100%; z-index:30; transform: translateX( -100% ); transition: all 0.5s; width:10%; }
.section-select.select-open{ transform: translateX( 0% );}
.section-select-item>a>div { position:absolute; top:50%; left:50%; transform: translate(-50% , -50%);}
.section-select-item { position:relative; height:25%; background:#ededed; }
.section-select-item a { display:block; height:100%; width:100%;}
.section-select-item:nth-child(1)>a>div { height:140px; width:140px; background:url('/img/main/subsidiary.png') no-repeat 0px 0px; }
.section-select-item:nth-child(2)>a>div { height:140px; width:140px; background:url('/img/main/subsidiary.png') no-repeat 0px -140px;}
.section-select-item:nth-child(3)>a>div { height:140px; width:140px; background:url('/img/main/subsidiary.png') no-repeat 0px -280px; }
.section-select-item:nth-child(4)>a>div { height:140px; width:140px; background:url('/img/main/subsidiary.png') no-repeat 0px -420px; }
.section-select-item img:nth-child(1) { display:block;}
.section-select-item img:nth-child(2) { display:none;}
.section-select-item img { position: relative; left: 50%; top: 50%; transform: translate( -50% , -50%);}
@media all and (max-width:1310px) {
	.section-select-item img:nth-child(1) { display:none;}
	.section-select-item img:nth-child(2) { display:block; width:100%;}
}
.section-select-list { height:100%; position:relative; }

.list-style-none { list-style: none; padding:0px;}


/* 메인 section */
.subsidiary-page { position:fixed; left:100%; top:0; background:rgba(33,33,33,0.5); width:100%; height:100%; transition: all 0.5s; z-index:30;}
/* .subsidiary-page { position:absolute; left:100%; top:0; background:rgba(33,33,33,0.5); width:100%; height:100%; z-index:50; transition: all 0.5s;} */
.subsidiary-page.subsidiary-page-open { position:fixed; left:10%; top:0; background:rgba(33,33,33,1); width:100%; height:100%; z-index:50;}
.subsidiary-page .c-page {
	position:absolute;
	width: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) ;
	-webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) ;
	color: #af8f66;
	background: #F6F6F6;
	opacity: 0;
	z-index: 10;

}

#wdc { left: 0%; }
#thekenc { left: 90%; }
#design { left: 180%; }
#cnc { left: 270%; }
#p-wdc:target .c-page#wdc { transform: translateX(0); opacity: 1; overflow-y: auto;}
#p-wdc:target .subsidiary-page#subsidiary-page{ left:10%; }
#p-wdc:target .section-select{ transform: translateX( 0% );}

#p-thekenc:target #thekenc.c-page { transform: translateX(-100%); opacity: 1; overflow-y: auto;}
#p-thekenc:target .subsidiary-page#subsidiary-page{ left:10%; }
#p-thekenc:target .section-select{ transform: translateX( 0% );}

#p-design:target .c-page#design { transform: translateX(-200%); opacity: 1; overflow-y: auto;}
#p-design:target .subsidiary-page#subsidiary-page{ left:10%; }
#p-design:target .section-select{ transform: translateX( 0% );}

#p-cnc:target .c-page#cnc { transform: translateX(-300%); opacity: 1; overflow-y: auto;}
#p-cnc:target .subsidiary-page#subsidiary-page{ left:10%; }
#p-cnc:target .section-select{ transform: translateX( 0% );}

.section-select-item:nth-child(1) a{background:none;opacity: 1; }
#p-wdc:target .section-select-item:nth-child(1) a{background:#F6F6F6;}
#p-thekenc:target .section-select-item:nth-child(2) a{background:#F6F6F6;}
#p-design:target .section-select-item:nth-child(3) a{background:#F6F6F6;}
#p-cnc:target .section-select-item:nth-child(4) a{background:#F6F6F6;}

#p-cnc:target body{ overflow-y: hidden;}

.subsidiary-button { position:fixed; left:10px; bottom:80px; width:80px; height:80px; background:#00bcd4; border-radius: 50%; }
.subsidiary-button .subsidiary-wrap { position:relative; height:100%; cursor:pointer;}
.subsidiary-button .subsidiary-title { position:absolute; width:100%; top:50%;  left:50%; text-align: center; transform: translate(-50% , -50%); pointer-events:painted;}

/* subsidiary 내용 */
/* 더블유산업개발 */
.c-page>div{ height:100%;}
.c-page-left { height:100%; background:url('/img/main/wdc.jpg') no-repeat center; background-size:cover;}

.c-page-right { height:100%;}
.c-page-right .section-title { text-align: center; position:relative; top:50%; left:50%; transform: translate( -50%, -50%)}
.c-page-right .section-title h1{ line-height: 55px;}
.c-page-right .section-title-subtext h3{ color:#333; }
.c-page-right .section-title-subtext h4{ color:#aaa; }
.c-page-right .section-text h4 { color:#aaa;}
.c-page-right .section-text h4:nth-child(1){padding: 180px 120px 20px; font-size: 24px; color:#767676; font-weight: 300;}
.c-page-right .section-text h4:nth-child(2){padding: 20px 120px 20px; font-size: 18px; font-weight:350;line-height: 38px;}
.c-page-right .at-container { height:100%;}

/* 더케이종합건설 */
#thekenc .section-title-head { display: inline-block; padding:50px 80px; border:8px solid #fff; margin-bottom:50px;}
#thekenc.c-page>div{ height:100%;}
#thekenc .c-page-left { height:100%; background:url('/img/main/wdc.jpg') no-repeat center; background-size:cover;}

#thekenc .c-page-right { height:100%;}
#thekenc .c-page-right .section-title { text-align: center; position:relative; top:50%; left:50%; transform: translate( -50%, -50%)}
#thekenc .c-page-right .section-title h1{ line-height: 55px;}
#thekenc .c-page-right .section-title-subtext h3{ color:#333; }
#thekenc .c-page-right .section-title-subtext h4{ color:#aaa; }
#thekenc .c-page-right .section-text h4 { color:#aaa;}
#thekenc .c-page-right .section-text h4:nth-child(1){padding: 3px 120px 20px; font-size: 24px; color:#767676; font-weight: 300;}
#thekenc .c-page-right .section-text h4:nth-child(2){padding: 20px 120px 20px; font-size: 18px; font-weight:350;line-height: 38px;}
#thekenc .c-page-right .at-container { height:100%; }
#thekenc .section-img { height:240px; width:100%; background:url('/img/main/thek-bg01.jpg') no-repeat center; background-size:cover;}

#thekenc .section-title-head { display: inline-block; padding:50px 80px; border:8px solid #fff; margin-bottom:50px;}
#thekenc.design>div{ height:100%;}
#thekenc .design-left { height:100%; background:url('/img/main/wdc.jpg') no-repeat center; background-size:cover;}

#design .design-left:nth-child(1) { height:50%; min-height:300px; padding:80px; background:url('/img/main/design-bg01.jpg') no-repeat center; background-size:cover; }
#design .design-right:nth-child(4) { height:50%; min-height:300px; padding:80px; background:url('/img/main/design-bg02.jpg') no-repeat center; background-size:cover; }
#design .design-right { height:50%; min-height:300px; }
#design .design-right .section-title { text-align: center; position:relative; top:50%; left:50%; transform: translate( -50%, -50%)}
#design .design-right .section-title h1{ line-height: 55px;}
#design .design-right .section-title-subtext h3{ color:#333; }
#design .design-right .section-title-subtext h4{ color:#aaa; padding-top: 20px; }
#design .design-right .section-text h4 { color:#aaa;}
#design .design-right .section-text h4:nth-child(1){padding: 3px 120px 20px; font-size: 24px; color:#767676; font-weight: 300;}
#design .design-right .section-text h4:nth-child(2){padding: 20px 120px 20px; font-size: 18px; font-weight:350;line-height: 38px;}
#design .design-right .at-container { height:100%; }
#design .section-title-head { text-align: left;}
#design .section-title-subtext h4 span{ color:#ff9800; }
#design .section-title-subtext h4 {padding-top: 20px; }
#design .section-title-head{ padding:0px; width:80%; margin:0 auto;}

@media all and (max-width:1200px) {
	.c-page-right { padding:0; }
	.wdc-left:before { content: ""; height:100%; width:100%; display: block; background:rgba(255,255,255,0.7); }
	.wdc-right { position:absolute; top:0px; display: inline-table;}
	.wdc-right .section-text h4:nth-child(1){padding: 180px 60px 20px; font-size: 24px; line-height: 38px; font-weight: 300; color:#393939;}
	.wdc-right .section-text h4:nth-child(2){padding: 20px 60px 20px; font-size: 18px; line-height: 38px; font-weight:350; color:#767676;}

	#thekenc .section-title-head { display: inline-block; padding:40px 50px; border:8px solid #767676; margin-bottom:50px; }
	#thekenc .c-page-right { position:absolute; top:0px; display: inline-table;}
	#thekenc .c-page-right:before { content: ""; position:absolute; height:100%; width:100%; display: block; background:rgba(255,255,255,0.7); }
	#thekenc	.c-page-right .section-text h4:nth-child(1){padding: 20px 0px 20px; width:80%; margin:0 auto; font-size: 24px; line-height: 38px; font-weight: 300; color:#393939;}
	#thekenc .c-page-right .section-text h4:nth-child(2){padding: 20px 0px 20px; width:80%; margin:0 auto; font-size: 18px; line-height: 38px; font-weight:350; color:#767676;}
	#thekenc .section-img { width:90%; margin:0 auto;}

  #design .design-right:nth-child(2) .section-title-head { border: 10px solid #fff; padding: 20px; background:rgba(255,255,255,0.5);}
	#design .design-left:nth-child(1) { position:absolute; top:0; width:100%;}
}











/* section-title Start*/
.section-title { padding:80px 0 80px; }
.section-title h1{ font-size:38px; font-weight:600; color: #767676;}
.section-title h4{ line-height: 24px; }
.section-title h5{ letter-spacing:5px; color: #767676;}
.section-title-subtext {color:#aaa;}
.section-title-subtext h3{ font-size:26px; font-weight:350; line-height: 28px; padding:10px 0 15px; }
.section-title-subtext h2{ padding-bottom:10px 0 15px; }
.section-title-subtext h3{ font-size:26px; font-weight:350; line-height: 28px; padding:25px 0 15px; }
.section-title-subtext h3 span{ font-weight:500; }
.section-title-subtext h4{ line-height: 28px; font-weight:350;}
.section-title-subtext h4 span{ font-weight:500; color:#8cc63f;}
.section-title-subtext {padding-bottom:0px;}

.section-title-left { padding:150px 0 60px; }
.section-title-left h1{ font-size:38px; font-weight:600; color: #767676;}
.section-title-left h5{ letter-spacing:5px; color: #767676;}
.section-title-subtext-left h3{ font-size:26px; font-weight:350; line-height: 28px; padding-bottom:15px;}
.section-title-subtext-left h3 span{ font-weight:500; }
.section-title-subtext-left h4{ line-height: 28px; font-weight:350;}
.section-title-subtext-left h4 span{ font-weight:500; color:#8cc63f;}
.section-title-subtext-left {padding-bottom:80px;}
/* section-title End*/
