@charset "utf-8";

/********************************************************
■ Basic : 기본
********************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body { font-family: dotum; line-height: 22px; font-size: 14px; color: rgb(51, 51, 51); background-color:#fff; background-repeat: no-repeat; background-attachment:fixed; background-size:cover; }
body.is-pc .ko { font-size:12px; }
a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; transition: color .2s;}
a:hover, a:focus, a:active { color:#607D8B; text-decoration: none; }
fieldset legend { display:none; }
label { font-weight:normal; }
label.checkbox, label.radio { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
hr { margin-top: 20px; margin-bottom:20px; border:0; border-top:1px solid #eee; display:block; }
blockquote { font-size: 12px; margin:0px 0px 20px; }
.en, h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a,p { font-family: "Noto Sans KR", "Roboto", sans-serif, "FontAwesome"; margin:0;}
.ko, .ko small { font-family:"Noto Sans KR", dotum, sans-serif; }
.sns-share-icon img { width:20%; max-width:45px; border-radius:15%; }

/********************************************************
■ Layout : 레이아웃
********************************************************/
.wrapper { margin:0 auto; background:#fff;  }
.at-container { margin:0px auto; padding:0px; }
.is-pc .at-body { }
.at-body .at-container { padding:0px 15px; overflow:hidden; }
.boxed.wrapper .at-body .at-container { padding:0px 20px; }
.at-content { position:relative; padding:20px 0px 0px;}
.at-row { margin-left:-15px; margin-right:-15px; }
.at-col { position:relative; padding-left:15px; padding-right:15px; padding-top:20px; padding-bottom:20px; }
/* .nav-fixed .at-menu { position:fixed; top:0; width:100%; z-index:10; left:0px;} */
.at-menu-bg-margin { position:relative; height:60px; }
.at-menu { position:fixed; top:0px; width:100%; z-index:100; }
@media all and (max-width:991px) {
  .at-menu-bg-margin { position:relative; height:45px;}
	.responsive .at-body .at-container { padding:0px 10px !important; }
	.responsive .at-body .at-row { margin-left:0px; margin-right:0px; }
	.responsive .at-body .at-col { padding-left:0px; padding-right:0px; }
	.responsive .pull-right.at-main,
	.responsive .pull-left.at-side { float:none !important; }
  .pc-menu {display:none;}

}

/********************************************************
■ LNB : 최상단의 즐겨찾기, RSS, 로그인, 회원가입 영역
********************************************************/
.at-lnb { }
.en .at-lnb { font-size:12px; }
.at-lnb ul { list-style: none; margin: 0px; padding:10px 0px 5px; }
.at-lnb ul > li { float: left; padding: 0px 15px; }
.at-lnb ul > li::after { float: right; color:#ccc; content: "/"; margin-right:-17px;}
.at-lnb ul > li:last-child::after { content: ""; margin-right:0px; }
.at-lnb ul > li > a { color: #333; float:left; }
@media all and (max-width:991px) {
	.responsive .at-lnb .at-container { display:none; visibility:visible; }
}


/********************************************************
main-popup-intro : 메인페이지 오버 인트로
********************************************************/

.main-popup-intro { position:fixed; width:100%; height:100vh; background:rgba(33,33,33,.7); top:0; z-index:10;}
.main-popup-intro-grep {position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); }

.main-popup-intro-grep-logo-outline { width:320px; height:175px; position:absolute; top:0;}
.main-popup-intro-grep-logo-color { width:320px; height:175px; position:relative; top:0;}
.logo-outline{ fill:none; stroke:rgb(255,255,255);}
.logo-color01{fill:#534741;}
.logo-color02{fill:#8cc63f;}
#logo-color {
  fill: #fff;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 3.5px;
  filter:drop-shadow( 0px 0px 5px #000 );
  -webkit-filter:drop-shadow( 0px 0px 5px #000 );
  opacity: 0;
  -webkit-animation: fadeIn 2s ease;
  -moz-animation: fadeIn 2s ease;
  animation: fadeIn 2s ease;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#logo-outline {
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  -webkit-animation: fadeOut 1s ease;
  -moz-animation: fadeOut 1s ease;
  animation: fadeOut 1s ease;
  -webkit-animation-delay: 2.75s;
  -moz-animation-delay: 2.75s;
  animation-delay: 2.75s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/********************************************************
■ PC Header : PC 헤더
********************************************************/
.pc-header { padding:10px 0px 0px; text-align:center; }
.pc-header .at-container { padding:0px 20px 15px; background: url('./header.jpg') no-repeat right top; }
.pc-header .header-logo { display:inline-block; vertical-align:middle; padding:0px 15px; }
.pc-header .header-logo a { font-size:44px; line-height:44px; font-family:'Georgia', sans-serif; font-weight:bold; color:#000; }
.pc-header .header-logo a:hover { color:#000; }
.pc-header .header-logo img { display:block; max-width:100%; max-height:60px; }
.pc-header .header-desc { display:block; font-size:12px; letter-spacing:-1px; color:#888; margin-top:2px; }
.pc-header .header-search { display:inline-block; width:260px; vertical-align:middle; }
.pc-header .header-search form { padding:0px; margin-top:4px; border:4px solid #111; background: #111; }
.pc-header .header-search input { background: #fff; border:1px solid #111; }
.pc-header .header-search .btn { color:#fff !important; background: #111 !important; }
.pc-header .header-keyword { padding-top:4px; }
.en .pc-header .header-keyword { font-size:12px; }
@media all and (max-width:991px) {
	.responsive .pc-header { display:none; }
}

/********************************************************
■ Mobile Header : 모바일 헤더
********************************************************/
.m-header { position:fixed; top:0px; z-index:20; display:block; background:#fff }
.m-header a { color:#333 }
.m-header .at-container { padding:0px; }
.m-header .header-wrap { display:table; width:100%; table-layout:fixed; margin:0px; min-width:300px; border-collapse: collapse; }
.m-header .header-icon,
.m-header .header-logo { display:table-cell; vertical-align:middle; font-size:18px; height:45px; text-align:center; }
.m-header .header-icon { width:45px; }
.m-header .header-icon a { display:block; }
.responsive .m-header { margin-top:-45px ; opacity: 0; transition: all 0.3s; }
@media all and (max-width:991px) {
	.responsive .m-header { margin-top:0px; opacity: 1;}
}

/********************************************************
■ PC Menu : PC 메뉴바 배경설정
********************************************************/
.pc-menu { position:relative; border:0px; z-index:3; box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); }
.pc-menu .sub-slide,
.pc-menu .sub-shows { display:none; visibility:visible; }
.pc-menu .sub-icon::after { font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }
.pc-menu .menu-a { font-size: 15px; font-family: 'Nanum Gothic', sans-serif; font-weight:700;}
.pc-menu .nav-home .menu-a { font-size: 20px;}
.pc-menu .nav-right { font-size:16px; }


/********************************************************
■ PC Menu Top : PC 상단 좌측 메뉴
********************************************************/

/* 좌측 스타일 */
.pc-menu .nav-top.nav-float .menu-ul .sub-1dul li{ font-size: 14px; }
.pc-menu .nav-top.nav-float .menu-li { float:left; min-width:130px;}
.pc-menu .nav-top.nav-float .sub-1div { position:absolute; }

/* 공통 스타일 */
.pc-menu .nav-top { z-index:10; width:100%; }
.pc-menu .nav-top .menu-a { display:block; font-weight:bold; transition: all 0.3s; }
.pc-menu .nav-top .menu-li:hover .menu-a,
.pc-menu .nav-top .menu-li.on .menu-a { color:#333; font-weight:bold; text-shadow: 0px 0px 3px orange; background:#ffcc00;}
.pc-menu .nav-top .menu-li.nav-home { width:60px !important; text-align:center; }
.pc-menu .nav-top .menu-li.nav-home .menu-a { padding:0px; }
.pc-menu .nav-top .new { color: rgb(140, 195, 70);}

.pc-menu .nav-top .sub-1div::before { top: -8px; border-width: 0 8px 8px; border-color: orangered transparent; display: block; width: 0px; content: ""; position: absolute; border-style: solid; }
.pc-menu .nav-top .sub-1div { background:#fff; border-top:3px solid orangered; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }
.pc-menu .nav-top .sub-1dul,
.pc-menu .nav-top .sub-1dli { position:relative;  }
.pc-menu .nav-top .sub-1da { display:block; color:#000; padding:5px 12px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }
.pc-menu .nav-top .sub-1dli.on .sub-1da,
.pc-menu .nav-top .sub-1dli:hover .sub-1da { color:#fff; font-weight:bold; background: orangered; border-color:orangered; }
.pc-menu .nav-top .sub-1new { color: rgb(140, 195, 70);}
.pc-menu .nav-top .sub-1line { position:relative; display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

.pc-menu .nav-top .sub-2div { left:100%; top:0; background: #fff; position:absolute; z-index:20; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }
.pc-menu .nav-top .sub-2dul { }
.pc-menu .nav-top .sub-2dli { }
.pc-menu .nav-top .sub-2da { display:block; color:#000; padding:5px 12px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }
.pc-menu .nav-top .sub-2dli.on .sub-2da,
.pc-menu .nav-top .sub-2dli:hover .sub-2da { color:#fff; font-weight:bold; background: orangered; border-color:orangered; }
.pc-menu .nav-top .sub-2new { color: rgb(140, 195, 70);}
.pc-menu .nav-top .sub-2line { display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

/********************************************************
■ PC Right Icon Menu : PC 우측 아이콘 메뉴
********************************************************/
.pc-menu .nav-right { position:absolute; top:0px; right:0px; z-index:11; }
.pc-menu .nav-right > ul { float:right; list-style:none; padding:0px; margin:0px; }
.pc-menu .nav-right > ul > li { float:left; position:relative; width:42px; }
.pc-menu .nav-right > ul > li > a { color:#333; display:block; text-align:center; transition: all 0.3s;}
.pc-menu .nav-right > ul > li > a:hover { background: #ffcc00; }
.pc-menu .nav-right .label { position: absolute; top: 15%; right: 7px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important; }
.pc-menu .nav-rw { width:84px; }

/********************************************************
■ PC All Menu : 전체 메뉴
********************************************************/
.pc-menu-all { position:fixed; top:0; pointer-events: none; width:100%; height:100vh; overflow: hidden; z-index:25; -webkit-box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); -moz-box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.2); }
.pc-menu-all .at-container { padding:0px 0px 0px; }
/* .pc-menu-all .mobile-menu { margin-bottom:0px !important; height:100vh; position:relative; overflow: auto;} */
/* .pc-menu-all .mobile-menu td { width:1%; background:#fff; border:1px solid #ddd; padding:0px; line-height:20px; } */
.pc-menu-all .menu-a { display:block; color:#3a3a3a; background:none; padding:20px 12px; font-weight:600; text-align:center; transition: all 0.3s;}
.pc-menu-all .menu-a:hover { color:#222; background:#7AB7AE; }
.pc-menu-all .sub-1dli { background:none;}
/* .pc-menu-all .mobile-menu td.on .menu-a { color:crimson; } */
.pc-menu-all .sub-1div { border-top:solid 1px 333; }
.pc-menu-all .sub-1dul { list-style:none; padding:0px; margin:0px; }
.pc-menu-all .sub-1dli .sub-1da { display:block; padding:2px 12px; color:#3a3a3a; font-size:15px; text-align:center; padding:12px 12px;  transition: all 0.3s;}
.pc-menu-all .sub-1dli.on .sub-1da,
.pc-menu-all .sub-1dli:hover .sub-1da { color:#222; background:#7AB7AE;}
.pc-menu-all .new { color: rgb(140, 195, 70);}
.pc-menu-all .new-sub1 { color: rgb(140, 195, 70);}
.pc-menu-all .sub-1line { display:block; color:#000; padding:5px 12px; margin:4px 0px; font-weight:bold; background:#fafafa; }
.pc-menu-all .menu-all-btn { text-align:center; }
/* .responsive .pc-menu-all { position:fixed; top:0; z-index:99;  opacity: 1; transition: all 0.3s;} */
/* .dept1-link { font-family:'Nanum Gothic'; } */
.mobile-menu-close-btn .menu-a { padding:30px 12px;}
.menu-all-btn { width:100%;}
.mobile-menu-close { padding-left:10px;}
#mobile-menu { background: linear-gradient(#fff, #7AB7AE ) ; pointer-events:none; opacity: 0; transition: all 1.7s; overflow: hidden;}
#mobile-menu.mobile-menu-open-active { opacity: 1; background: linear-gradient(#fff, #7AB7AE ) ; pointer-events:auto;}

.mobile-menu {
  overflow: auto;
  position: relative;
  left: 0;
  top: 0;
  height:100vh;
  width: 100vw;
  text-align: center;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
          transform: scale(0);
}
.mobile-menu.mobile-menu-open-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mobile-menu.mobile-menu-open-active ul li {
  pointer-events:auto;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu ul {
  vertical-align: middle;
}
.mobile-menu li {
  padding: 0;
  transition: all 400ms 510ms;
  opacity: 0;
}
.mobile-menu li:nth-child(odd) {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}
.mobile-menu li:nth-child(even) {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.mobile-menu li:last-child {
  -webkit-transform: none;
          transform: none;
}
.mobile-menu a {
  display: inline-block;
  font-size: 18px;
}
.mobile-menu a.suBtn {
  /* color: #fff; */
}



/* .mobile-menu {
  overflow: auto;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height:100vh;
  width: 100%;
  display: table;
  text-align: center;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
          transform: scale(0);
}
.mobile-menu.mobile-menu-open-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mobile-menu.mobile-menu-open-active ul li {
  pointer-events:auto;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu ul {
  display: table-cell;
  vertical-align: middle;
}
.mobile-menu li {
  padding: 8px 0;
  transition: all 400ms 510ms;
  opacity: 0;
}
.mobile-menu li:nth-child(odd) {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}
.mobile-menu li:nth-child(even) {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.mobile-menu li:last-child {
  -webkit-transform: none;
          transform: none;
}
.mobile-menu a {
  color: #19b698;
  display: inline-block;
  font-size: 18px;
}
.mobile-menu a.suBtn {
  color: #fff;
} */









@media all and (max-width:991px) {
  .responsive .pc-menu-all { display:block; opacity: 1;}
}

/********************************************************
■ Mobile Menu : 모바일 메뉴
********************************************************/
.m-menu { display:none; overflow:hidden; background:#fff; position:relative; z-index:20; box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); }
.m-menu .m-wrap { }
.m-menu .m-table { display:table; width:100%; table-layout:fixed; width:100%; margin:0px; min-width:300px; border-collapse: collapse; }
.m-menu .m-icon,
.m-menu .m-list { display:table-cell; vertical-align:middle; font-size:15px; height:44px; line-height:44px; border:1px solid #eee; border-top:0px; border-bottom:0px; }
.m-menu .m-icon { width:44px; text-align:center; font-size:18px; }
.m-menu .m-icon a { display:block; position:relative; }
.m-menu .m-icon .label { position: absolute; top: 15%; right: 5px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important;  }
.m-menu .m-nav { overflow: hidden; margin:0px 10px; }
.m-menu .m-nav ul { list-style: none; margin:0px; padding:0px; }
.m-menu .m-nav ul li { display:table-cell; padding: 0px 10px; white-space:nowrap; }
.m-menu .m-nav ul li.active a { color: orangered; font-weight:bold; }

.m-menu .m-sub { background:#fafafa; border-top:1px solid #ddd; font-size:15px; height:44px; line-height:44px; padding:0px 10px; }
.m-menu .m-nav-sub { width:100%; overflow: hidden; margin:0px; }
.m-menu .m-nav-sub ul { list-style: none; margin:0px; padding:0px; }
.m-menu .m-nav-sub ul li { display:table-cell; padding: 0px 10px; white-space:nowrap; }
.m-menu .m-nav-sub ul li.active a { color: orangered; font-weight:bold; }
@media all and (max-width:991px) {
	.responsive .m-menu { display:block; }
}

/********************************************************
■ Page Title : 페이지 타이틀 및 설명글
********************************************************/
.at-title { height:210px; position:relative; color:#000; text-align:center;}
.at-title .at-container { position:relative; }
.at-title .page-title span{ display: inline-block; font-size:52px !important; z-index:1; text-align:center; padding-top:80px; font-weight:400;}
.at-title .page-desc { z-index:1; text-align:center;}
.at-title .page-desc p{ color:#333; z-index:1; text-align:center; letter-spacing:5px;}
@media all and (max-width:767px) {
	.responsive .at-title { height:75px; position:relative; }
	.responsive .at-title .at-container{ position:absolute; top:50%; left:50%; transform:translate(-50% , -50%); }
  /* .responsive .at-title .at-container{ height:75px; display: table-cell; vertical-align: middle; text-align: left; margin: 0 auto;} */
  .responsive .at-title .page-title span{ font-size:22px !important; z-index:1; text-align:center; padding-top:0px; font-weight:400;}
  /* .responsive .at-title .page-desc { height:75px; display: block; vertical-align: middle;} */
  .responsive .at-title .page-desc p{ color:#333; z-index:1; text-align:center; letter-spacing:5px; margin:0px;}
}

/********************************************************
■ Footer : 하단 푸터
********************************************************/
.en .at-footer .at-links { font-size:12px; }
.at-footer .at-links { padding:0px 0px; }
.at-footer .at-links ul { list-style: none; margin: 0px; padding:0px; }
.at-footer .at-links ul > li { float: left; padding: 0px 5px; }
/* .at-footer .at-links ul > li::after { float: right; color:#ccc; content: "/"; margin-right:-17px;} */
.at-footer .at-links ul > li:last-child::after { content: ""; }
.at-footer .at-links ul > li > a { color: #252525; }
@media all and (max-width:991px) {
  .at-footer {}
	.responsive .at-footer .at-links ul.pull-left { display:none; }
	.responsive .at-footer .at-links ul.pull-right { float:none !important; text-align:center; }
	.responsive .at-footer .at-links ul.pull-right > li { float:none; display:inline-block; }
}

/* YC5 */
.en .at-footer .at-infos { font-size:12px; }
.at-footer .at-infos .media { padding:2px 0px 2px; }
.at-footer .at-infos .pull-left { font-size:70px; color:#ddd; }
.at-footer .at-infos .copyright { float:left; margin-left:10px; }
.at-footer .at-infos .copyright span { color:#252525; }
.at-footer .at-about { list-style: none; margin:0px; padding:0px; }
.at-footer .at-about > li { float: left; padding: 0px 5px; color:#252525; }
.at-footer .at-about > li > a { color: #252525; }
.at-footer .at-help { list-style: none; margin: 0px; padding:0px; margin-bottom:5px; }
.at-footer .at-help:after {display:block;visibility:hidden;clear:both;content:""}
.at-footer .at-help > li { float: left; padding: 0px 15px; }
.at-footer .at-help > li::after { float: right; font-size:12px; color:#ddd; content: "|"; margin-right:-17px;}
.at-footer .at-help > li:last-child::after { content: ""; }
.at-footer .at-help > li > a { float: left; }
@media all and (max-width:767px) {
	.responsive .at-footer .at-infos .media { padding:15px 0px 20px; text-align:center; }
	.responsive .at-footer .at-infos .copyright { float:none; margin:0px; }
}

/* G5 */
.at-footer .at-copyright { text-align:center; padding:15px 0px; color:#888; }
.at-footer .at-copyright strong { color:#333; }

/********************************************************
■ Go Top & Bottom : 상단/하단 이동버튼
********************************************************/
.at-go .go-btn { display:none; position: fixed; width:40px; bottom: 20px; right: 25px; z-index: 2; }
.at-go .go-btn span { display: block; color:#fff; background: rgba(0,0,0,0.5); margin:5px 0px; text-align: center; border-radius: 50%; width: 42px; height: 42px; line-height: 42px !important; font-size: 19px; }
.at-go .go-btn .go-bottom { display:none; }
@media (max-width: 768px) {
	.at-go .go-btn { bottom:0px; right:5px; }
}

/********************************************************
■ Bootstrap3 : 부트스트랩 기본속성
********************************************************/
/* Button */
.btn { font-family: "Roboto", sans-serif; }
.btn-lg { padding: 10px 16px; border-radius: 3px; line-height: 1.33; font-size: 18px; }
.btn-lg i {	top: 3px; font-size: 24px; position: relative; }
.btn-xs { padding: 4px 10px; }
.is-pc .ko .btn-xs,
.is-pc .ko .btn-sm { font-family:dotum, sans-serif; }

/* Panel : Accordions */
.panel { box-shadow: none; -webkit-box-shadow: none; border-radius: 0px; }
.panel-group .panel { border-radius: 0px; }
.panel .panel-heading { border-radius: 0px; }
.is-pc .ko .panel .panel-body { font-size:12px; }

/* List Group */
.list-group-item { word-break:break-all; border-radius:0 !important; }

/* Pagination */
.pagination { font-family: "Roboto", sans-serif; }
.pagination li a { border-radius:0 !important; color:#333 !important; }
.pagination li.active a { color:#fff !important; background:#444 !important; border-color:#444 !important; }

/* Progress */
.progress { position:relative; border-radius: 0px; height: 28px; overflow: hidden; margin-bottom: 15px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1); background-color: rgb(245, 245, 245); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.progress .sr-only { font-family: "Roboto", sans-serif; margin: 0px 15px; left: 0px; width: auto; height: 28px; line-height: 28px; font-size: 12px; clip: auto; }
.sr-score { font-family: "Roboto", sans-serif; height: 28px; line-height: 28px; font-size: 12px; padding-right:8px; }

/* Misc */
.form-control, .well, .btn, .alert, .input-group-addon, .label { border-radius:0 !important; }

/* 공통 gradient */
.gradient-bg {
  background: #282828;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: GradientBg 15s ease infinite;
	-moz-animation: GradientBg 15s ease infinite;
	animation: GradientBg 15s ease infinite;
}

@-webkit-keyframes GradientBg {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50%	}
	100% { background-position: 0% 50% }
}
@-moz-keyframes GradientBg {
	0% { background-position: 0% 50% }
	50% {	background-position: 100% 50%	}
	100% { background-position: 0% 50% }
}
@keyframes GradientBg {
	0% { background-position: 0% 50% }
	50% {	background-position: 100% 50%	}
	100% { background-position: 0% 50% }
}

/* 공통 padding*/
.padding-zero { padding:0px !important;}
.padding-left-right-15 { padding-left:15px; padding-right:15px;}
.wr-none { font-size:14px; color:#23252B;}


/* 공통 */
.nav-logo { padding: 6px 0 6px 30px; width:150px; float:left;}
.nav-logo img{ width:87px; height:48px; }
.nav-logo-mobile img{ width:67px; height:37px; }
.nav-visible { position:relative;}
.text-center { text-align: center;}
.pc-menu.bc-white { transition: all 0.3s; opacity: 1; margin-top:0px; }
.no-scroll { overflow: hidden;}

@media all and (max-width:991px) {
  .pc-menu.bc-white { margin-top:-60px; opacity: 0; min-width:100%;}
}

/* mainslider */
.slick-slide, .slick-slide::before, .caption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-slider {
  position: relative;
  width: 100%;
  height: 38vw !important;
  min-height: 8vw;
  opacity: 0;
  visibility: hidden;
  transition: height 1.2s ease-out;
}
.main-slider.slick-initialized {
  overflow: hidden;
  opacity: 1;
  visibility: visible;
}

.slick-slide {
  position: relative;
  transition: height 1.2s ease-out;
  height: 38vw;
}
.slick-slide::before {
  background-color: #000;
  opacity: .3;
  z-index: 115;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 1;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 115;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  position: absolute;
  top: 44%;
  left: 5%;
  text-align: center;
  padding: 20px;
  border: 3px solid;
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .02em;
  opacity: 1;
  z-index: 115;
  transition: all .3s ease;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.slick-dots {
  margin-top:-100px;
  z-index: 115;
  text-align: center;
  padding-top: 15px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all 0.3s ease;
  opacity: .4;
  text-indent: 10000px;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 0.9;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 3px #fff;
  opacity: 0.9;
  background:#ffcc00;
  z-index: 115;
}

.container {
  background-color: none;
  color: #444;
  line-height: 1.6;
  padding: 40px 0;
}
.container .content {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.container p {
  margin-bottom: 40px;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

@media all and (max-width:991px) {
  .main-slider { height: 66vw !important; }
  .slick-slide { height: 66vw !important; }
}

@media all and (max-width:767px) {
  .slick-dots { margin-top:-50px;}

}
/* main-slider {
  position: relative;
  width: 100%;
  height: 38vw !important;
  min-height: 8vw;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
} */
/* .main-slider {
  position: relative;
  width: 100%;
  height: 38vw !important;
  min-height: 8vw;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
} */

/********************************************************
■ rium-main-default.php
********************************************************/
/* 공통 */
/* .main-slider-bottom { position:relative;  top:0; left:50%; transform: translate(-50%, 0%); background:#ffcc00; padding:0;} */

/********************************************************
main-slider-bottom.php
********************************************************/
.main-slider-bottom {}
.main-slider-bottom-list { margin:0;}
.main-slider-bottom-list-item { list-style:none; height:240px; }
.main-slider-bottom-list-item-list { position:relative; padding:20px 45px 5px; height:100%; overflow:hidden; transition:all .5s;}
.main-slider-bottom-list-item-list h3{ margin:5px 0; }

@media all and (max-width:1310px) {
  .main-slider-bottom-list-item-list { padding:20px 45px 5px; }
  .main-slider-bottom-list-item-list h3{ padding:10px 0px 5px; }
  .size-four-two-two { width:50%; }
}

@media all and (max-width:991px) {
  .main-slider-bottom-list-item-list { padding:10px 15px 5px; }
  .main-slider-bottom-list-item-list h3{ font-size:20px; padding: 3px 0px 2px; }
  .size-four-two-two { width:50%; }
}

@media all and (max-width:767px) {
  .size-four-two-one { width:100%; }
  .size-four-two-two { width:50%; }
}

/********************************************************
section 공통
********************************************************/
.section-wrap { width:100%; display:block; }


/* clearfix */
.section-wrap:after {
  content: '';
  display: block;
  clear: both;
}

.section-group { text-align:center;  width:100%; display:block; }
.section-list-title { text-align:center; display:block; font-weight: 600; font-size:27px;}
.section-list-sub { display:inline-block; text-align:center; margin-top:0; font-weight: 300; padding: 0 7px 7px; font-size:27px; }
/* clearfix */
.section-group:after {
  content: '';
  display: block;
  clear: both;
}

/********************************************************
popup
********************************************************/
.popup-rium01 { position:relative; text-align:center; font-family:"nanumgothic"; padding:120px 0  !important;}
.popup-rium01 p{ font-weight:400;}
.popup-rium01 span{ font-weight:400;}
.popup-rium01-grep { width:300px;}

/********************************************************
performance
********************************************************/
#section03 { padding:50px 0;}

/********************************************************
section04
********************************************************/
#section04 .widget-box { margin:0; }
#section04 .section h1{ font-size:42px; font-weight:500; color:#fff; text-align:center; padding-top:150px; margin:0;}
#section04 .section h3{ font-size:18px; font-weight:300; color:#fff; text-align:center;}
#section04 .section h3:nth-child(4){ padding-bottom:150px;}

/********************************************************
section05
********************************************************/
#section05 { padding:50px 0;}
#section05 .section-wrap { }
#section05 .section-group>p {font-size: 16px; font-weight: 400;}
#section05 .section-wrap .section-wrap-item { position:relative; height:360px; padding:0px; overflow: hidden;}
#section05 .section-wrap .section-wrap-item:nth-child(2) .section-wrap-list{ background: url('/img/main/design02.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(3) .section-wrap-list{ background: url('/img/main/buildworks.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(4) .section-wrap-list{ background: url('/img/main/business.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(5) .section-wrap-list{ background: url('/img/main/developer.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(6) .section-wrap-list{ background: url('/img/main/sale.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item .section-wrap-list:hover{ transform: scale(110%);}
#section05 .section-wrap .section-wrap-item .section-wrap-list:hover:before{ background-color: rgba(33,33,33,0.2);}
#section05 .section-wrap .section-wrap-item .section-wrap-list { height:100%; position:relative;}
#section05 .section-wrap .section-wrap-item .section-wrap-list:before{ content: ''; color:#fff; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(33,33,33,0.7); transition: background-color .5s ease-in; }
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text { position:relative;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text h3{ text-align: center; color:#fff;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text h3:nth-child(2){ margin-top:10px;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text p{ white-space:pre-line; font-size:18px; font-weight:300; margin-top:20px; color:#fff;}
#section05 .section-wrap-list-text { padding:25px; height:240px;}


/********************************************************
새소식
********************************************************/
#section06 .main-board.far.fa-plus { font-style:normal; color:#f0f0f0; }
#section06 .main-board.p-absolute.p-right { top:22px; }
#section06 .div-title-underbar.p-relative { border-bottom: solid 1px #f0f0f0;}
#section06 .col-sm-6 .rium-post-garo .post-subject a{ font-size:14px;}
#section06 .col-sm-6 .rium-post-garo .post-wrap.is-2 { border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-garo .post-list li{border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-garo p{ margin:0px !important; line-height: 32px; }
#section06 .col-sm-6 .rium-post-garo span { margin:0px !important; line-height: 32px; font-size:14px;}
#section06 .col-sm-6 .rium-post-garo .post-list .ellipsis:last-child a>p{ margin-bottom:2px !important; }

/********************************************************
상담문의
********************************************************/
#section06 .main-board.far.fa-plus { font-style:normal; color:#f0f0f0; }
#section06 .main-board.p-absolute.p-right { top:22px; }
#section06 .div-title-underbar.p-relative { border-bottom: solid 1px #f0f0f0;}
#section06 .col-sm-6 .rium-post-list.post-subject a{ font-size:14px;}
#section06 .col-sm-6 .rium-post-list.post-wrap.is-2 { border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-list .post-list li{border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-list p{ margin:0px !important; line-height: 32px; }
#section06 .col-sm-6 .rium-post-list span { margin:0px !important; line-height: 32px; font-size:14px;}
#section06 .col-sm-6 .rium-post-list.post-list .ellipsis:last-child a>p{ margin-bottom:2px !important; }


/********************************************************
tail
********************************************************/
#sectiontail .widget-index {padding:25px 0;}
#sectiontail .tail-contactinfo-wrap { color:#fff; padding: 35px 0;}
#sectiontail .tail-contactinfo-wrap h2:nth-child(1) { color:#ffcc00; font-size:54px;}
#sectiontail .tail-contactinfo-wrap h3:nth-child(1n) { color:#fff; font-size:28px; font-weight:200; margin:5px 0;}
#sectiontail .tail-contactinfo-wrap h3:last-child { color:#ffcc00; font-size:44px; font-weight:200; margin-bottom:20px;}
#sectiontail .tail-contactinfo-wrap h4 { color:#fff; font-size:22px; font-weight:300; margin-top:40px;}
#sectiontail .tail-contactinfo-wrap h3:nth-child(1n) b{ color:#8cc63f; font-size:28px; font-weight:500; }
#sectiontail .row { margin:0px !important;}

#iyke_form {width:100%; padding:0px;}
#iyke_form .iyke_form-title { color:#fff;}
#iyke_form .iyke_form-title h2{ display:inline-block; font-size:28px; color:#ffcc00;}
#iyke_form .iyke_form-title h3{ display:inline-block; font-size:18px; }
#iyke_form .ileft { color:#fff; width:20%; text-align:left; padding:3px 3px 0 0; font-size:11pt;}
#iyke_form .icenter {float:left; width:100%; margin:0px 0px 6px;}
#iyke_form .iright {float:left; width:5%;}
#iyke_form .iclear {clear:both; padding:2px 0px; }

#iyke_form .icenter input{font-size:18px}
#iyke_form .icenter select{font-size:18px; background:#ffcc00;}
#iyke_form .icenter textarea{ font-size:18px;}
#iyke_form .input1 {width:100%; height:36px; border:1px solid #cccccc; padding:0 0 0 3px;}
#iyke_form .input2 {width:30%; height:36px; border:1px solid #cccccc; padding:0 0 0 3px;}
#iyke_form .input3 {width:33%; height:36px; border:1px solid #cccccc; padding:0 0 0 3px;}
#iyke_form .input4 {width:100%; height:120px; border:1px solid #cccccc; overflow-y:hidden;word-break:break-all; padding:0 0 0 3px;}

#ibtn_submit {width:100%; padding:8px 0px; border:0px; background:#ffcc00; transition: all .5s;}
#ibtn_submit:hover {background:#f44336; color:#fff; text-shadow: 0 0 2.5px #333;}





/********************************************************
공통 버튼
********************************************************/
.button01 {display:inline-block; position:absolute; right:40px; bottom:20px; width:160px; }
.button01 .button-link { font-family: "nanumgothic"; font-size:15px; color:#fff; display:inline-block; position:absolute; left:20px; bottom:0px; width:140px; height:40px; line-height:30px; background:#333; padding:5px; text-align: center; transition:all .5s;}
.button01 .button-link:after { font-family: "FontAwesome"; color:#fff; content:"\f054"; display:inline-block; position:relative; right:0px; bottom:0px; width:20px; height:30px; margin-left:10px; transition:all .5s;}
.button01 .button-link:hover { background:#ffcc00; color:#333; font-weight: 600;}
.button01 .button-link:hover:after { color:#333; transform: rotate(180deg); }

.button02 {display:inline-block; position:relative; left:50%; width:160px; height:40px; transform: translate(-50%, 0); }
.button02 .button-link { font-family: "nanumgothic"; font-size:15px; color:#fff; font-weight: 400; display:inline-block; position:absolute; width:140px; height:40px; line-height:30px; background:rgba(83,71,65,0.2); border: 1.5px solid rgba(255,255,255,1); border-radius: 5px; padding:5px; text-align: center; transition:all .5s;}
.button02 .button-link:after { font-family: "FontAwesome"; color:#fff; content:"\f054"; display:inline-block; position:relative; right:0px; bottom:0px; width:20px; height:30px; margin-left:10px; transition:all .5s;}
.button02 .button-link:hover { background:rgba(83,71,65,0.7); color:#fff; text-shadow:0px 0px 2px #333; border: 1.5px solid rgba(255,255,255,0);}
.button02 .button-link:hover:after { color:#ffcc00; transform: rotate(180deg); }

@media all and (max-width:1310px) {
  .button01 { right:10px; bottom:15px; }
}


/* 공통 */
.bottom-li-hide { display: none;}
.bottom-logo img{ width:87px; height:48px;}
/* 공통 font */
.f_nanum { font-family: 'Nanum Gothic' !important;}
.fc-white { color:white;}
.fc.black { color:black;}
.fc-orange { color:#ffcc00;}
.fc01 { color:#8CC63F; }
.fc02 { color:#534741; }
.fs14 { font-size: 14px;}
.fs16 { font-size: 16px;}

/* 공통 position */
.p-relative { position:relative;}
.p-right { right:0px;}
.p-absolute { position:absolute; }



/* element */

/* 공통 border*/
.border-radius-10 { border-radius: 10px; overflow:hidden; display: inline-block;}


/* 공통 bottom */
.bottom-10 { bottom:10px;}

/* 공통 background */
.point-color01 { background:#fcfcfc;}
.point-color02 { background:#7AB7AE;}
.point-color03 { background:#607d8b;}
.point-color04 { background:#607d8b;}
.point-color05 { background:#ffcc00;}
.point-color10 { background:#23252B;}
.bc-white { background-color:#fff;}
.bc-black { background-color:#393939;}
.bc-orange { background-color:#ffcc00;}


/* 공통 폰트 사이즈 */
.font-w700 { font-weight:700 !important;}
.font-w800 { font-weight:800 !important;}
.font-s16 { font-size:16px !important;}
.font-s18 { font-size:18px !important;}
.font-s20 { font-size:20px !important;}
.font-s22 { font-size:22px !important;}
.font-s24 { font-size:24px !important;}


/* 공통 폰트 칼라 */
.font-c01 { color:#8cbf59;}
.font-c02 { color:#534741 }

/* padding */
.padding-20 { padding: 20px;}
.padding-bottom-150 { padding-bottom:150px;}



/* size reaction */
.size-two-two-one { float:left; box-sizing:border-box; display:block; padding:0; margin:0; width:50%;}
.size-three-one-one { float:left; box-sizing:border-box; display:block; padding:0; margin:0; width:33.3334%;}
.size-three-two-one { float:left; box-sizing:border-box; display:block; padding:0; margin:0; width:33.3334%;}
.size-four-two-one { float:left; box-sizing:border-box; display:block; padding:0; margin:0; width:25%;}
.size-four-two-two { float:left; box-sizing:border-box; display:block; padding:0; margin:0; width:25%;}






@media all and (max-width:1310px) {
  .size-two-two-one { width:50%; }
  .size-three-one-one { width:33.334%; }
  .size-four-two-one { width:50%; }
  .size-four-two-two { width:50%; }
}

@media all and (max-width:991px) {
  .size-three-two-one { width:50%;}
  .size-two-two-one { width:50%; }
  .size-three-one-one { width:33.334%; }
}

@media all and (max-width:767px) {
  .size-three-two-one { width:100%;}
  .size-two-two-one { width:100%; }
  .size-three-one-one { width:100%; }
  .size-four-two-one { width:100%; }
  .size-four-two-two { width:50%; }
}


/* bg */
.fixed-bg01 {
  background-image : url('/img/main/popup-customer.jpg') ;
  background-repeat: no-repeat;
  background-size : cover;
  background-position : center;
  background-attachment: fixed;
}





/* Rium_noside_color 전용 */
.list-style-none ul{ list-style:none;}
.margin-top80 { margin-top: 120px;}
.about01 { padding:50px 0; background: url("/img/about/about01.jpg") no-repeat; background-size: cover; }
.about01-title-list h2,.about01-title-list h3{ padding:20px 0 0 0; font-weight: 500; background:rgba(237,237,237,0.5); max-width: 991px; margin:20px auto 0; border-radius: 10px; padding:15px; transition: background .5s;}
.about01-title-list h4{ line-height:1.5em; padding:15px; background:rgba(237,237,237,0.5); border-radius: 10px; max-width: 991px; margin:20px auto 0; font-weight: 350; transition: background .5s;}

.emphasize { font-size:22px; font-weight:600;}
.ab-content { max-width:1310px; margin:0 auto; position: relative; left:50%; transform: translateX(-50%);}



@media all and (max-width:1310px) {
  .about01-title-list h2,.about01-title-list h3,.about01-title-list h4 { background:rgba(237,237,237,0.8); }
}
