@charset "utf-8";

/********************************************************
■ Basic : 기본
********************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url( ../../../common.css);

/********************************************************
main-popup-intro : 메인페이지 오버 인트로
********************************************************/

.main-popup-intro { position:fixed; width:100%; height:100vh; background:rgba(33,33,33,.7); top:0; z-index:10;}
.main-popup-intro-grep {position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); }

.main-popup-intro-grep-logo-outline { width:320px; height:175px; position:absolute; top:0;}
.main-popup-intro-grep-logo-color { width:320px; height:175px; position:relative; top:0;}
.logo-outline{ fill:none; stroke:rgb(255,255,255);}
.logo-color01{fill:#534741;}
.logo-color02{fill:#8cc63f;}
#logo-color {
  fill: #fff;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 3.5px;
  filter:drop-shadow( 0px 0px 5px #000 );
  -webkit-filter:drop-shadow( 0px 0px 5px #000 );
  opacity: 0;
  -webkit-animation: fadeIn 2s ease;
  -moz-animation: fadeIn 2s ease;
  animation: fadeIn 2s ease;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#logo-outline {
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  -webkit-animation: fadeOut 1s ease;
  -moz-animation: fadeOut 1s ease;
  animation: fadeOut 1s ease;
  -webkit-animation-delay: 2.75s;
  -moz-animation-delay: 2.75s;
  animation-delay: 2.75s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* mainslider */
.slick-slide, .slick-slide::before, .caption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-slider {
  position: relative;
  width: 100%;
  height: 38vw !important;
  min-height: 8vw;
  opacity: 0;
  visibility: hidden;
  transition: height 1.2s ease-out;
}
.main-slider.slick-initialized {
  overflow: hidden;
  opacity: 1;
  visibility: visible;
}

.slick-slide {
  position: relative;
  transition: height 1.2s ease-out;
  height: 38vw;
}
.slick-slide::before {
  background-color: #000;
  opacity: .3;
  z-index: 115;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 1;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 115;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  position: absolute;
  top: 44%;
  left: 5%;
  text-align: center;
  padding: 20px;
  border: 3px solid;
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .02em;
  opacity: 1;
  z-index: 115;
  transition: all .3s ease;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.slick-dots {
  margin-top:-100px;
  z-index: 115;
  text-align: center;
  padding-top: 15px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all 0.3s ease;
  opacity: .4;
  text-indent: 10000px;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 0.9;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 3px #fff;
  opacity: 0.9;
  background:#ffcc00;
  z-index: 115;
}

.container {
  background-color: none;
  color: #444;
  line-height: 1.6;
  padding: 40px 0;
}
.container .content {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.container p {
  margin-bottom: 40px;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

@media all and (max-width:991px) {
  .main-slider { height: 66vw !important; }
  .slick-slide { height: 66vw !important; }
}

@media all and (max-width:767px) {
  .slick-dots { margin-top:-50px;}

}


/********************************************************
main-slider-bottom.php
********************************************************/
.main-slider-bottom-list { margin:0;}
.main-slider-bottom-list-item { list-style:none; min-height:340px;}
.main-slider-bottom-list-item:nth-child(1) { background:url('/img/main/slider-bottom01.jpg') no-repeat; background-size:cover; color:#fff;}
.main-slider-bottom-list-item:nth-child(2) { background:url('/img/main/slider-bottom02.jpg') no-repeat; background-size:cover;}
.main-slider-bottom-list-item:nth-child(3) { background:url('/img/main/slider-bottom03.jpg') no-repeat; background-size:cover; }
.main-slider-bottom-list-item-list { position:relative; padding:20px 35px 5px; height:100%; overflow:hidden; transition:all .5s;}
.main-slider-bottom-list-item-list h2{ margin:15px 0; font-weight:500;}
.main-slider-bottom-list-item-list h4{ margin:5px 0; font-weight:350;}

@media all and (max-width:1310px) {
  .main-slider-bottom-list-item-list { padding:20px 15px 5px; }
  .main-slider-bottom-list-item-list h3{ padding:10px 0px 5px; }
}

@media all and (max-width:991px) {
  .main-slider-bottom-list-item-list { padding:10px 15px 5px; }
  .main-slider-bottom-list-item-list h3{ font-size:20px; padding: 3px 0px 2px; }
  .main-slider-bottom-list-item { list-style:none; }
}

@media all and (max-width:768px) {
  .pc-menu.bc-white { margin-top:-60px; opacity: 0; min-width:100%;}
}

/********************************************************
popup
********************************************************/
.popup-rium01.popup-rium01 { position:relative; text-align:left; font-family:"nanumgothic"; padding:120px 0  !important;}
.popup-rium01 h1{ padding : 25px 0 0px; font-size:42px;}
.popup-rium01 h1:nth-child(2){ padding : 25px 0 0px; font-size:42px;}
.popup-rium01 h3{ padding:25px 0 5px; display: inline-block;}
.popup-rium01 h4{ font-size:16px; display: inline-block;}
.popup-rium01 span{ font-weight:400; font-size:16px; }
.popup-rium01-grep svg{ max-height:210px;}
.popup01-subtext { padding : 10px 0; }
@media all and (max-width:768px) {
  .popup-rium01.popup-rium01 { position:relative; text-align:center; font-family:"nanumgothic"; padding:35px 0  !important; margin:0 auto;}
  .popup-rium01 h1{ padding : 12px 0 0px; font-size:42px;}
  .popup-rium01 h1:nth-child(2){ padding : 12px 0 0px; font-size:42px;}
  .popup-rium01-grep svg{ max-height:120px;}
  .pc-menu.bc-white { margin-top:-60px; opacity: 0; min-width:100%;}

}




/********************************************************
performance
********************************************************/
#section03 { padding:50px 0;}
.performance-title {text-align: center;}
.performance .section-item { padding:60px 0;}
#section03 .section-group>p { font-size: 16px; font-weight: 400; }
/********************************************************
section04
********************************************************/
#section04 .widget-box { margin:0; }
#section04 .section h1{ font-size:42px; font-weight:500; color:#fff; text-align:center; padding-top:150px; padding-bottom:25px; margin:0;}
#section04 .section h3{ font-size:18px; font-weight:300; color:#fff; text-align:center; line-height: 32px;}
#section04 .section h3:nth-child(4){ padding-bottom:150px;}

/********************************************************
section05
********************************************************/
#section05 { padding:50px 0;}
#section05 .section-wrap { }
#section05 .section-group>p {font-size: 16px; font-weight: 400;}
#section05 .section-wrap .section-wrap-item { position:relative; height:360px; padding:0px; overflow: hidden;}
#section05 .section-wrap .section-wrap-item:nth-child(2) .section-wrap-list{ background: url('/img/main/design02.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(3) .section-wrap-list{ background: url('/img/main/buildworks.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(4) .section-wrap-list{ background: url('/img/main/business.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(5) .section-wrap-list{ background: url('/img/main/developer.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item:nth-child(6) .section-wrap-list{ background: url('/img/main/sale.jpg') no-repeat scroll center; background-size:cover; transition: all .5s ease-in;}
#section05 .section-wrap .section-wrap-item .section-wrap-list:hover{ transform: scale(110%);}
#section05 .section-wrap .section-wrap-item .section-wrap-list:hover:before{ background-color: rgba(33,33,33,0.2);}
#section05 .section-wrap .section-wrap-item .section-wrap-list { height:100%; position:relative;}
#section05 .section-wrap .section-wrap-item .section-wrap-list:before{ content: ''; color:#fff; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(33,33,33,0.7); transition: background-color .5s ease-in; }
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text { position:relative;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text h3{ text-align: center; color:#fff;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text h3:nth-child(2){ margin-top:10px;}
#section05 .section-wrap .section-wrap-item .section-wrap-list .section-wrap-list-text p{ white-space:pre-line; font-size:18px; font-weight:300; margin-top:20px; color:#fff;}
#section05 .section-wrap-list-text { padding:25px; height:240px;}
#section05 .section-group {margin: 60px 0;}
#section05 .section-item .section-group { text-align:center;}

/********************************************************
새소식
********************************************************/
#section06 .main-board.far.fa-plus { font-style:normal; color:#f0f0f0; }
#section06 .main-board.p-absolute.p-right { top:22px; }
#section06 .div-title-underbar.p-relative { border-bottom: solid 1px #f0f0f0;}
#section06 .col-sm-6 .rium-post-garo .post-subject a{ font-size:14px;}
#section06 .col-sm-6 .rium-post-garo .post-wrap.is-2 { border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-garo .post-list li{border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-garo p{ margin:0px !important; line-height: 32px; width:calc( 100% - 65px); overflow: hidden;}
#section06 .col-sm-6 .rium-post-garo span { margin:0px !important; line-height: 32px; font-size:14px;}
#section06 .col-sm-6 .rium-post-garo .post-list .ellipsis:last-child a>p{ margin-bottom:2px !important; }

/********************************************************
상담문의
********************************************************/
.main-board.far.fa-plus { font-style:normal; color:#f0f0f0; }
#section06 .main-board.p-absolute.p-right { top:8px; }
#section06 .div-title-underbar.p-relative { border-bottom: solid 1px #f0f0f0;}
#section06 .col-sm-6 .rium-post-list.post-subject a{ font-size:14px;}
#section06 .col-sm-6 .rium-post-list.post-wrap.is-2 { border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-list .post-list li{border-bottom: 1px solid #f0f0f0;}
#section06 .col-sm-6 .rium-post-list p{ margin:0px !important; line-height: 32px; width:calc( 100% - 65px); overflow: hidden;}
#section06 .col-sm-6 .rium-post-list span { margin:0px !important; line-height: 32px; font-size:14px;}
#section06 .col-sm-6 .rium-post-list.post-list .ellipsis:last-child a>p{ margin-bottom:2px !important; }

.div-title-underbar { position: relative;}
.main-popup02 { padding: 60px 0px;}
.main-bottom-board { padding-bottom:60px;}
